<section class="site-section-top">
  <div align="center" class="embed-responsive embed-responsive-16by9">
    <video id="myVideo" autoplay muted loop class="embed-responsive-item">
      <!-- <source src="https://player.vimeo.com/external/177472359.hd.mp4?s=d85b1d84a439b37a9617732d248cb0e7ccc0a7e2&profile_id=119" type="video/mp4"> -->
    </video>
  </div>
</section>

<section class="site-content">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="content-box box-img">
          <h2>Our Departments</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </p>
          <ul class="list-group">
            <li class="list-group-item"><a href="https://webdev.cba.ua.edu/academics/departments/accountancy"><strong>Accountancy</strong></a><br>Cras justo odio. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.</li>
            <li class="list-group-item"><a href="https://webdev.cba.ua.edu/academics/departments/economics-finance-legal-studies"><strong>Economics, Finance, & Legal Studies</strong></a><br>Dapibus ac facilisis in, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
            <li class="list-group-item"><a href="https://webdev.cba.ua.edu/academics/departments/information-systems-statistics-and-management-science"><strong>Information Systems, Statistics and Management Science</strong></a><br>Morbi leo risus, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</li>
            <li class="list-group-item"><a href="https://webdev.cba.ua.edu/academics/departments/management"><strong>Management</strong></a><br>Porta ac consectetur.</li>
            <li class="list-group-item"><a href="https://webdev.cba.ua.edu/academics/departments/marketing"><strong>Marketing</strong></a><br>Vestibulum at eros. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
            <li class="list-group-item"><a href="https://webdev.cba.ua.edu/graduates/"><strong>Manderson Graduate School of Business</strong></a><br>Vestibulum at eros. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
          </ul>
        </div> <!-- .box-img -->
      </div> <!-- .col-md-8 -->

      <div class="col-md-4">
        <div class="content-box box-img bg-light">
          <div class="box-badge hidden-xs">
            <small>Featured Article</small>
          </div> <!-- .box-badge -->

          <img class="img-responsive thumbnail" src="http://culverhouse.ua.edu/img/uploads/news/original/20160707120748_palanbio.jpg">

          <div class="box-body">
            <h3>Dr. Kay M. Palan Begins as New Dean of Culverhouse</h3>
            <p class="small margin-bottom-10 text-muted">
              <i class="fa fa-tag"></i> College News
              <i class="margin-left-10 fa fa-info-circle"></i> Request Information
            </p>
            <p>Dr. Palan is the ninth dean of Culverhouse....</p>
            <a href="#" class="btn btn-default btn-sm">
              Read More
              <i class="fa fa-arrow-right"></i>
            </a>
          </div> <!-- .box-body -->
        </div> <!-- .box-img -->
      </div> <!-- .col-md-4 -->
    </div> <!-- .row -->
  </div> <!-- .container -->
</section>