<section class="site-section-top">
  <div class="bg-img" style="background-image: url('/assets/img/commencement.jpg');background-position: 0px 0px;">
    <div class="container site-content">
      <div class="site-heading-bg-primary">
        <h1> Culverhouse Ambassadors  </h1>
      </div> <!-- .site-heading-bg -->
    </div> <!-- .container -->
  </div> <!-- .site-section-bg -->
</section>

<section class="site-content">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="sidebar sidebar-sticky affix-top scroll-to hidden-xs hidden-sm">
          <ul class="nav nav-pills nav-stacked">
             <li> <a href="/ca">Culverhouse Ambassadors</a></li>
          </ul>
        </div> <!-- .sidebar -->
      </div> <!-- .col-md-3 -->

      <div class="col-md-9">
        <h2 style="text-align:center;">Culverhouse Ambassadors Application</h2>
        
        <%= render 'form' %>

      </div>
    </div>
  </div>
</section>