<section class="site-content">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <h2>Thanks for Submitting Your Application!</h2>

        Contact Christa Morris at <a href="mailto:cmorris@culverhouse.ua.edu">cmorris@culverhouse.ua.edu</a> or <a href="">205.348.9153

      </div>
    </div>
  </div>
</section>