<!-- Trigger inputs for hiding and showing the footer -->
<input id="show-footer" type="radio" name="hide-show" checked="checked" />
<input id="hide-footer" type="radio" name="hide-show" />

<!-- Sticky footer -->
<footer id="stickit" class="collapsable">

  <!-- Inner footer elements -->
  <div class="footer-inner">

    <div style='float: left; position: relative; box-sizing: border-box; padding: 0px; border: 0px none; font-style: inherit; font-weight: inherit; line-height: inherit; font-size-adjust: inherit; font-stretch: inherit; font-feature-settings: inherit; font-language-override: inherit; font-kerning: inherit; font-synthesis: inherit; font-variant: inherit; vertical-align: middle; display: inline-block; color: rgb(29, 29, 29); text-transform: uppercase; text-align: center; letter-spacing: 3px; font-family: "Lato","Open Sans",Helvetica,Arial,sans-serif; font-size: 30px; margin: 0px 0% 0px 10%;''>CULVERHOUSE ALUMNI</div>


    <!-- Home icon -->
    <div style="display: inline-block;">
      <a class="navbar-brand" title="Culverhouse Alumni" rel="home" href="/alumni">
        <img alt="Home" src="/assets/ua-square-logo-f41fe0fbeb2161536f8eb5201d1b97f4c544bf7ada2b9a40efa238dc178b3c15.png" height="45" width="45">
      </a>
    </div>


    <div style="float: right; text-align: left ! important; margin: 0px 10% 0px 0px;">
    <div class="navigation lvl-0">
      <!-- Menu main item -->
      <a class="main-item" href="/alumni/ces">Networking<span class="entypo-plus"></span></a>
      <!-- Level 1 menu -->
    </div>

    <div class="navigation lvl-0">
      <!-- Menu main item -->
      <a class="main-item" href="/alumni/career">Career<span class="entypo-plus"></span></a>
      <!-- Level 1 menu -->
      <div class="lvl-1 left">
        <div class="box arrow bottom left">
          <!-- Link 1 -->
          <a href="https://ua-csm.symplicity.com/students/" target="_blank" class="first"><span class="icon entypo-right-circled"></span>Job Board</a>
          <!-- Link 2 -->
          <a href="/alumni/educational-podcasts"><span class="icon entypo-right-circled"></span>Educational Podcasts</a>
        </div>
      </div>
    </div>
    <div class="navigation lvl-0">
      <!-- Menu main item -->
      <a class="main-item" href="/alumni/about-you">About You<span class="entypo-plus"></span></a>
      <!-- Level 1 menu -->
      <div class="lvl-1 left">
        <div class="box arrow bottom left">
          <!-- Link 1 -->
          <a href="/alumni/alumni-achievements" class="first"><span class="icon entypo-right-circled"></span>Alumni Achievements</a>
          <!-- Link 2 -->
          <a href="/alumni/update-your-information"><span class="icon entypo-right-circled"></span>Update Your Information</a>
        </div>
      </div>
    </div>
    <div class="navigation lvl-0">
      <!-- Menu main item -->
      <a class="main-item" href="/alumni/about-us">About Us<span class="entypo-plus"></span></a>
      <!-- Level 1 menu -->
      <div class="lvl-1 left">
        <div class="box arrow bottom left">
          <!-- Link 1 -->
          <a href="/alumni/staff" class="first"><span class="icon entypo-right-circled"></span>Staff</a>
          <!-- Link 2 -->
          <a href="/alumni/virtual-tour"><span class="icon entypo-right-circled"></span>Virtual Tour</a>
          <!-- Link 3 -->
          <a href="/alumni/the-executive"><span class="icon entypo-right-circled"></span>The Executive</a>
          <!-- Link 4 -->
          <a href="https://epay.ua.edu/C20219_ustores/web/store_main.jsp?STOREID=6&SINGLESTORE=true" target="_blank"><span class="icon entypo-right-circled"></span>Culverhouse Apparel</a>
        </div>
      </div>
    </div>
    <div class="navigation lvl-0">
      <!-- Menu main item -->
      <a class="main-item" href="/alumni/giving">Giving<span class="entypo-plus"></span></a>
      <!-- Level 1 menu -->
      <div class="lvl-1 left">
        <div class="box arrow bottom left">
          <!-- Link 1 -->

          <a href="https://onlinegiving.ua.edu/giving/givingForm/begin?division=5&account=14"><span class="icon entypo-right-circled"></span>Donate</a>
          <a href="/alumni/supporting-culverhouse" class="first"><span class="icon entypo-right-circled"></span>Supporting Culverhouse</a>
        </div>
      </div>
    </div>
    <div class="navigation lvl-0">
      <!-- Menu main item -->
      <a class="main-item" href="/alumni/event-calendar">Event Calendar<span class="entypo-plus"></span></a>
    </div>


  </div>
    </div>

</footer>
<%= render 'layouts/footer' %>
