<!-- Trigger inputs for hiding and showing the footer -->
<input id="show-footer" type="radio" name="hide-show" checked="checked" />
<input id="hide-footer" type="radio" name="hide-show" />

<!-- Sticky footer -->
<footer id="stickit" class="collapsable">

  <!-- Trigger labels for hiding and showing the footer -->
  <label for="hide-footer" class="icon hide-lb entypo-down-circled"></label>
  <label for="show-footer" class="icon show-lb"></label>

  <!-- Trigger input for opening hidden menu -->
  <input id="expand-content" type="checkbox" name="expand" />

  <!-- Inner footer elements -->
  <div class="footer-inner">

    <!-- Home icon -->
    <a class="home entypo-home" href="#"></a>

    <!-- One level menu -->
    <div class="navigation lvl-0">
      <!-- Menu main item -->
      <a class="main-item" href="#">One level<span class="entypo-plus"></span></a>
      <!-- Level 1 menu -->
      <div class="lvl-1 left">
        <div class="box arrow bottom left">
          <!-- Link 1 -->
          <a href="#" class="first"><span class="icon entypo-right-circled"></span>Link 1</a>
          <!-- Link 2 -->
          <a href="#"><span class="icon entypo-right-circled"></span>Link 2</a>
          <!-- Link 3 -->
          <a href="#"><span class="icon entypo-right-circled"></span>Link 3</a>
          <!-- Link 4 -->
          <a href="#"><span class="icon entypo-right-circled"></span>Link 4</a>
          <!-- Link 5 -->
          <a href="#"><span class="icon entypo-right-circled"></span>Link 5</a>
          <!-- Link 6 -->
          <a href="#" class="last"><span class="icon entypo-right-circled"></span>Link 6</a>
        </div>
      </div>
    </div>

    <!-- Left multi level menu -->
    <div class="navigation lvl-0">
      <!-- Menu main item -->
      <a class="main-item" href="#">Left multi level<span class="entypo-plus"></span></a>
      <!-- Level 1 menu -->
      <div class="lvl-1 left">
        <div class="box arrow bottom left">
          <!-- Link 1 -->
          <a href="#" class="first"><span class="icon entypo-home"></span>Home</a>
          <!-- Link 2 -->
          <div class="submenu">
            <a href="#" class="active expand-lvl-2 right"><span class="icon entypo-cog"></span>Services</a>
            <!-- Level 2 menu -->
            <div class="lvl-2 left">
              <div class="box arrow middle left">
                <!-- Link 1 -->
                <a href="#" class="first"><span class="icon entypo-pencil"></span>Graphic design</a>
                <!-- Link 2 -->
                <div class="submenu">
                  <a href="#" class="active expand-lvl-3 right"><span class="icon entypo-monitor"></span>Website design</a>
                  <!-- Level 3 menu -->
                  <div class="lvl-3 left">
                    <div class="box arrow middle left">
                      <!-- Link 1 -->
                      <a href="#" class="first"><span class="icon entypo-right-circled"></span>CMS templating</a>
                      <!-- Link 2 -->
                      <a href="#"><span class="icon entypo-right-circled"></span>PSD to HTML/CSS</a>
                      <!-- Link 3 -->
                      <a href="#" class="last"><span class="icon entypo-right-circled"></span>Ecommerce</a>
                      <!-- Submenu title -->
                      <div class="title menu"><span class="icon entypo-monitor"></span>Web design</div>
                    </div>
                  </div>
                </div>
                <!-- Link 3 -->
                <a href="#"><span class="icon entypo-chart-bar"></span>Seo optimization</a>
                <!-- Link 4 -->
                <a href="#" class="last"><span class="icon entypo-print"></span>Printing</a>
                <!-- Submenu title -->
                <div class="title menu"><span class="icon entypo-cog"></span>Our services pallete</div>
              </div>
            </div>
          </div>
          <!-- Link 3 -->
          <a href="#"><span class="icon entypo-book"></span>Portfolio</a>
          <!-- Link 4 -->
          <div class="submenu">
            <a href="#" class="active expand-lvl-2 right"><span class="icon entypo-users"></span>Our team</a>
            <!-- Level 2 menu -->
            <div class="lvl-2 left">
              <div class="box arrow middle left">
                <!-- Link 1 -->
                <a href="#" class="first"><span class="icon entypo-right-circled"></span>Jane Doe</a>
                <!-- Link 2 -->
                <a href="#"><span class="icon entypo-right-circled"></span>George Doe</a>
                <!-- Link 3 -->
                <a href="#" class="last"><span class="icon entypo-right-circled"></span>Hugo Doe</a>
                <!-- Submenu title -->
                <div class="title menu"><span class="icon entypo-users"></span>Meet our awesome team</div>
              </div>
            </div>
          </div>
          <!-- Link 5 -->
          <a href="#"><span class="icon entypo-heart"></span>Special stuff</a>
          <!-- Link 6 -->
          <a href="#" class="last"><span class="icon entypo-pencil"></span>We also blog</a>
        </div>
      </div>
    </div>

    <!-- Multi columns menu -->
    <div class="lvl-0">
      <!-- Menu main item -->
      <a class="main-item" href="#">Multi columns<span class="entypo-plus"></span></a>
      <!-- Level 1 menu -->
      <div class="lvl-1 left">
        <div class="box arrow bottom left fixed w-487">
          <div class="row pd-30">
            <div class="title large">Multi column menu</div>
            <p class="medium">Create multi column menus for better navigation experience or a detailed sitemap of your website.</p>
            <div class="clr mt-20"></div>
            <div class="multi-col">
              <!-- Left block -->
              <div class="fluid w-32">
                <div class="title multi">1. Lorem ipsum</div>
                <a href="#" class="icon entypo-right-open-mini">Dignissim</a>
                <a href="#" class="icon entypo-right-open-mini">Cum cursus</a>
                <a href="#" class="icon entypo-right-open-mini">Eros, dignissim</a>
                <a href="#" class="icon entypo-right-open-mini">Aenean velit</a>
                <a href="#" class="icon entypo-right-open-mini">Amet facilisis</a>
                <a href="#" class="icon entypo-right-open-mini">Turpis magnis</a>
              </div>
              <!-- Middle block -->
              <div class="fluid w-32">
                <div class="title multi">2. Dignissim sum</div>
                <a href="#" class="icon entypo-right-open-mini">Integer sed</a>
                <a href="#" class="icon entypo-right-open-mini">Quis urna</a>
                <a href="#" class="icon entypo-right-open-mini">Augue turpis</a>
                <a href="#" class="icon entypo-right-open-mini">Dictumst amet</a>
                <a href="#" class="icon entypo-right-open-mini">Purus etis</a>
                <a href="#" class="icon entypo-right-open-mini">Mid cras</a>
              </div>
              <!-- Right block -->
              <div class="fluid w-32">
                <div class="title multi">3. Cum cursus</div>
                <a href="#" class="icon entypo-right-open-mini">Pellentesque</a>
                <a href="#" class="icon entypo-right-open-mini">Integer aenean</a>
                <a href="#" class="icon entypo-right-open-mini">Tempor turpis</a>
                <a href="#" class="icon entypo-right-open-mini">Risus eros</a>
                <a href="#" class="icon entypo-right-open-mini">Tincidunt augue</a>
                <a href="#" class="icon entypo-right-open-mini">Aenean velit</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Content menu -->
    <div class="lvl-0 has-tabs">
      <!-- Menu main item -->
      <a class="main-item" href="#">Content<span class="entypo-plus"></span></a>
      <!-- Level 1 menu -->
      <div class="lvl-1 left">
        <div class="box arrow bottom left fixed w-658">
          <!-- Tabs input selectors -->
          <input id="t-1" name="tabs-group" type="radio" checked="checked" />
          <input id="t-2" name="tabs-group" type="radio" />
          <input id="t-3" name="tabs-group" type="radio" />
          <input id="t-4" name="tabs-group" type="radio" class="has-chart" />
          <input id="t-5" name="tabs-group" type="radio" />
          <div class="tabs">
            <!-- Tab 1 -->
            <div class="tab-1">
              <div class="pd-30 fl-left">
                <!-- Content elements -->
                <div class="row">
                  <div class="fluid w-100">
                    <div class="title large">Sticky footer content</div>
                    <p class="large">Display quick content for your visitors and style it with ease.</p>
                  </div>
                </div>
                <div class="row mt-20">
                  <div class="fluid w-49">
                    <!-- Image overlay -->
                    <div class="overlay">
                      <img src="demo/1.jpg" alt="A picture alternate text" />
                      <!-- Image links -->
                      <div>
                        <a href="#" class="icon left entypo-search"></a>
                        <a href="#" class="icon right entypo-link"></a>
                      </div>
                    </div>
                  </div>
                  <div class="fluid w-49 pd-lr-20">
                    <div class="title medium">Medium heading style</div>
                    <p class="small mt-10">Small paragraph style, elementum sed augue, <a href="#">aliquet</a> dapibus tincidunt augue et rhoncus in velit aenean! Aenean, mid? Rhoncus scelerisque, odio quis? Parturient, dolor integer turpis augue, dis? Sed lacus, penatibus lorem.</p>
                    <p class="small mt-20"><span class="quote">A block quote. Sed lacus, penatibus? Et elit nec sed turpis augue nisi placerat amet?</span></p>
                    <div class="clr mt-20"></div>
                    <p class="small"><span class="icon entypo-link"></span><a href="#">Lorem ipsum dot color</a></p>
                  </div>
                </div>
              </div>
              <!-- Menu title -->
              <div class="title tabs"><span class="icon entypo-list-add"></span>Show content in tabs</div>
            </div>
            <!-- Tab 2 -->
            <div class="tab-2">
              <div class="row">
                <!-- Iframe video preview -->
                <iframe src="http://www.youtube.com/embed/vsObnzivL1A?&rel=0&loop=1&showinfo=0&disablekb=1&modestbranding=1&controls=0&hd=1&autohide=1&color=white&wmode=opaque" frameborder="0" allowfullscreen></iframe>
              </div>
              <!-- Menu title -->
              <div class="title tabs"><span class="icon entypo-video"></span>Play any video</div>
            </div>
            <!-- Tab 3 -->
            <div class="tab-3">
              <div class="row">
                <!-- Google maps -->
                <div id="map-canvas" class="map"></div>
              </div>
              <!-- Menu title -->
              <div class="title tabs"><span class="icon entypo-location"></span>Display custom maps</div>
            </div>
            <!-- Tab 4 -->
            <div class="tab-4">
              <div class="row pd-30">
                <div class="fluid w-100">
                  <div class="title large">Data chart</div>
                  <p class="medium">Need to show some special data? No worries, display it easily with premade chart.</p>
                </div>
                <div class="clr mt-20"></div>
                <!-- Chart -->
                <div class="row">
                  <div class="fluid w-15"><p class="small">Data 1</p></div>
                  <div class="fluid w-83 bar"><span class="value-1"><span>44%</span></span></div>
                </div>
                <div class="row">
                  <div class="fluid w-15"><p class="small">Data 2</p></div>
                  <div class="fluid w-83 bar"><span class="value-2"><span>78%</span></span></div>
                </div>
                <div class="row">
                  <div class="fluid w-15"><p class="small">Data 3</p></div>
                  <div class="fluid w-83 bar"><span class="value-3"><span>57%</span></span></div>
                </div>
                <div class="row">
                  <div class="fluid w-15"><p class="small">Data 4</p></div>
                  <div class="fluid w-83 bar"><span class="value-4"><span>66%</span></span></div>
                </div>
                <div class="row">
                  <div class="fluid w-15"><p class="small">Data 5</p></div>
                  <div class="fluid w-83 bar"><span class="value-5"><span>34%</span></span></div>
                </div>
              </div>
              <!-- Menu title -->
              <div class="title tabs"><span class="icon entypo-chart-bar"></span>Show a special graph</div>
            </div>
            <!-- Tab 5 -->
            <div class="tab-5">
              <div class="row pd-30">
                <div class="fluid w-100">
                  <div class="title large">Data tables</div>
                  <p class="medium">Build simple table layouts with a few lines of code.</p>
                </div>
                <div class="clr mt-10"></div>
                <!-- Table -->
                <div class="table fluid w-100">
                  <!-- Column 1 -->
                  <div class="fluid w-15 table first">
                    <div class="fluid w-100">
                      <div class="table heading">Heading</div>
                    </div>
                    <div class="fluid w-100">
                      <p class="small">1. quarter</p>
                    </div>
                    <div class="fluid w-100">
                      <p class="small">2. quarter</p>
                    </div>
                    <div class="fluid w-100">
                      <p class="small">3. quarter</p>
                    </div>
                    <div class="fluid w-100">
                      <p class="small">4. quarter</p>
                    </div>
                  </div>
                  <!-- Column 2 -->
                  <div class="fluid w-15 table">
                    <div class="fluid w-100">
                      <div class="table title">Title 1</div>
                    </div>
                    <div class="fluid w-100">
                      <p class="small">103.203</p>
                    </div>
                    <div class="fluid w-100">
                      <p class="small">110.421</p>
                    </div>
                    <div class="fluid w-100">
                      <p class="small">112.323</p>
                    </div>
                    <div class="fluid w-100">
                      <p class="small">121.002</p>
                    </div>
                  </div>
                  <!-- Column 3 -->
                  <div class="fluid w-15 table">
                    <div class="fluid w-100">
                      <div class="table title">Title 2</div>
                    </div>
                    <div class="fluid w-100">
                      <p class="small">901.534</p>
                    </div>
                    <div class="fluid w-100">
                      <p class="small">835.922</p>
                    </div>
                    <div class="fluid w-100">
                      <p class="small">664.349</p>
                    </div>
                    <div class="fluid w-100">
                      <p class="small">131.930</p>
                    </div>
                  </div>
                  <!-- Column 4 -->
                  <div class="fluid w-15 table">
                    <div class="fluid w-100">
                      <div class="table title">Title 3</div>
                    </div>
                    <div class="fluid w-100">
                      <p class="small">270.434</p>
                    </div>
                    <div class="fluid w-100">
                      <p class="small">736.493</p>
                    </div>
                    <div class="fluid w-100">
                      <p class="small">220.234</p>
                    </div>
                    <div class="fluid w-100">
                      <p class="small">921.471</p>
                    </div>
                  </div>
                  <!-- Column 5 -->
                  <div class="fluid w-15 table">
                    <div class="fluid w-100">
                      <div class="table title">Title 4</div>
                    </div>
                    <div class="fluid w-100">
                      <p class="small">811.906</p>
                    </div>
                    <div class="fluid w-100">
                      <p class="small">305.781</p>
                    </div>
                    <div class="fluid w-100">
                      <p class="small">131.050</p>
                    </div>
                    <div class="fluid w-100">
                      <p class="small">429.202</p>
                    </div>
                  </div>
                  <!-- Column 6 -->
                  <div class="fluid w-15 table">
                    <div class="fluid w-100">
                      <div class="table title">Title 5</div>
                    </div>
                    <div class="fluid w-100">
                      <p class="small">151.436</p>
                    </div>
                    <div class="fluid w-100">
                      <p class="small">700.482</p>
                    </div>
                    <div class="fluid w-100">
                      <p class="small">365.774</p>
                    </div>
                    <div class="fluid w-100">
                      <p class="small">912.001</p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Menu title -->
              <div class="title tabs"><span class="icon entypo-list"></span>Display data tables</div>
            </div>
          </div>
          <!-- Labels for the tabs -->
          <div class="tab-labels">
            <label for="t-1" class="lb-1">1</label>
            <label for="t-2" class="lb-2">2</label>
            <label for="t-3" class="lb-3">3</label>
            <label for="t-4" class="lb-4">4</label>
            <label for="t-5" class="lb-5">5</label>
          </div>
        </div>
      </div>
    </div>

    <!-- Contact menu -->
    <div class="lvl-0">
      <!-- Menu main item -->
      <a class="main-item" href="#">Contact<span class="entypo-plus"></span></a>
      <!-- Level 1 menu -->
      <div class="lvl-1 left">
        <div class="box arrow bottom left fixed w-487">
          <div class="row">
            <div class="row pd-30">
              <div class="title large">Hey there</div>
              <p class="medium">Display your visitors quick contact form so they can get in touch easily.</p>
              <div class="clr mt-20"></div>
              <!-- Contact form -->
              <form name="contact" id="contact" method="post">
                <!-- Name input -->
                <div class="field fluid w-100">
                  <input name="name" placeholder="Your name" type="text" id="name" required />
                  <span class="entypo-user icon"></span>
                  <span class="stickit-tip field">Enter your name</span>
                </div>
                <div class="clr mt-10"></div>
                <!-- Email input -->
                <div class="field fluid w-100">
                  <input name="email" placeholder="your@domain.com" type="email" id="email" required />
                  <span class="entypo-mail icon"></span>
                  <span class="stickit-tip field">Enter valid email</span>
                </div>
                <div class="clr mt-10"></div>
                <!-- Subject input -->
                <div class="field fluid w-100">
                  <select name="subject" id="subject" class="grayed" onClick="this.className=this.options[this.selectedIndex].className">
                    <option value="" disabled="disabled" selected="selected" class="disabled">Subject</option>
                    <option value="Presales question">1. Presales question</option>
                    <option value="Warranty and support">2. Warranty and support</option>
                    <option value="Other">3. Other</option>
                  </select>
                  <div id="arrow-select"></div>
                  <svg id="arrow-select-svg"></svg>
                  <span class="entypo-book icon"></span>
                  <span class="stickit-tip field">Choose subject</span>
                </div>
                <div class="clr mt-10"></div>
                <!-- Message input -->
                <div class="field fluid w-100">
                  <textarea name="message" placeholder="Write your message here" id="message" required></textarea>
                  <span class="stickit-tip field">Your message</span>
                </div>
                <div class="clr mt-20"></div>
                <!-- Send button -->
                <input type="submit" value="Send" class="send fl-left" form="contact" name="send" />
                <!-- Message copy button -->
                <input type="checkbox" id="send-copy" name="send-copy" checked="checked" />
                <label for="send-copy" class="tick fl-right mt-5"><span>Send me a copy of this message</span></label>
              </form>
            </div>
          </div>
          <!-- Menu title -->
          <div class="title menu"><span class="icon entypo-paper-plane"></span>Contact us</div>
        </div>
      </div>
    </div>

    <!-- Trigger label for opening hidden menu -->
    <div class="lvl-0 hide-it">
      <!-- Menu main item -->
      <div class="main-item">
        <label for="expand-content" class="icon expand-lb"></label>
        <span class="entypo-plus"></span>
      </div>
    </div>

    <!-- Social icons -->
    <div class="social fl-right">
      <!-- Facebook -->
      <a href="#" class="icon has-tip entypo-thumbs-up"><span class="stickit-tip main">Like us on Facebook</span></a>
      <!-- Twitter -->
      <a href="#" class="icon has-tip entypo-twitter"><span class="stickit-tip main">Follow us on Twitter</span></a>
      <!-- Google -->
      <a href="#" class="icon has-tip entypo-google-circles"><span class="stickit-tip main">Connect us on GPlus</span></a>
    </div>

  </div>
  <!-- / Inner footer elements -->

  <!-- Expanded menu -->
  <section id="hidden-menu">
    <!-- Expanded content -->
    <article class="hidden-content">
      <div class="row mt-30">
        <div class="title large">Hey, you found a secret pocket</div>
        <div class="clr mt-10"></div>
        <p class="small"><b>This is a hidden section with a grid for expanded content.</b><br />
          It's avaliable for you to present additional content, links, insert a quick contact form or suprise your visitors with a special offer. We'll leave imagination to you.</p>
      </div>
      <div class="clr mt-20"></div>
      <!-- Fluid row 1 -->
      <div class="row">
        <div class="fluid w-15"><p class="demo-fluid">15%</p></div>
        <div class="fluid w-15"><p class="demo-fluid">15%</p></div>
        <div class="fluid w-15"><p class="demo-fluid">15%</p></div>
        <div class="fluid w-15"><p class="demo-fluid">15%</p></div>
        <div class="fluid w-15"><p class="demo-fluid">15%</p></div>
        <div class="fluid w-15"><p class="demo-fluid">15%</p></div>
      </div>
      <!-- Fluid row 2 -->
      <div class="row">
        <div class="fluid w-32"><p class="demo-fluid">32%</p></div>
        <div class="fluid w-15"><p class="demo-fluid">15%</p></div>
        <div class="fluid w-15"><p class="demo-fluid">15%</p></div>
        <div class="fluid w-15"><p class="demo-fluid">15%</p></div>
        <div class="fluid w-15"><p class="demo-fluid">15%</p></div>
      </div>
      <!-- Fluid row 3 -->
      <div class="row">
        <div class="fluid w-49"><p class="demo-fluid">49%</p></div>
        <div class="fluid w-15"><p class="demo-fluid">15%</p></div>
        <div class="fluid w-15"><p class="demo-fluid">15%</p></div>
        <div class="fluid w-15"><p class="demo-fluid">15%</p></div>
      </div>
      <!-- Fluid row 4 -->
      <div class="row">
        <div class="fluid w-66"><p class="demo-fluid">66%</p></div>
        <div class="fluid w-15"><p class="demo-fluid">15%</p></div>
        <div class="fluid w-15"><p class="demo-fluid">15%</p></div>
      </div>
      <!-- Fluid row 5 -->
      <div class="row">
        <div class="fluid w-83"><p class="demo-fluid">83%</p></div>
        <div class="fluid w-15"><p class="demo-fluid">15%</p></div>
      </div>
      <!-- Fluid row 6 -->
      <div class="row">
        <div class="fluid w-100"><p class="demo-fluid">100%</p></div>
      </div>
      <div class="clr mt-30"></div>
    </article>
  </section>
  <!-- / Expanded menu -->

</footer>
