<section class="site-section-top">
  <div class="bg-img" style="background-image: url('/assets/img/presidentsmansion01_1920.jpg');">
    <div class="container site-content">
      <div class="site-heading-bg-light">
        <h1 class="site-heading-small">Business Analytics Symposium</h1>
      </div> <!-- .site-heading-bg -->
    </div> <!-- .container -->
  </div> <!-- .site-section-bg -->
</section>

<div class="sticky-menu-secondary-container hidden-xs hidden-sm">
  <div class="menu-secondary menu-light menu-secondary-sticky scroll-to">
    <div class="container">
      <nav id="menu-secondary-sticky">
        <ul class="nav nav-justified">
          <li class="active">
            <a href="#item-1">Home</a>
          </li>
          <li>
            <a href="#item-2">Abstracts</a>
          </li>
          <li>
            <a href="#item-3">Speakers</a>
          </li>
          <li>
            <a href="#item-4">Agenda</a>
          </li>
          <li>
            <a href="#item-5">Local Information</a>
          </li>
          <li>
          <a href="#item-6">Registration</a>
          </li>
          <li>
            <a href="#item-6">Symposium Committee</a>
          </li>
          <li>
            <a href="#item-6">IBA Board Members</a>
          </li>
        </ul>
      </nav>
    </div> <!-- .container -->
  </div> <!-- .menu-secondary -->
</div> <!-- .sticky-menu-secondary-container -->

<section class="site-content">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 id="item-1">Section 1 Page Header</h1>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          <p>Officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor sit amet, mollitia animi, id est laborum et dolorum fug consectetur adipiscing elit. Ut non libero consectetur adipiscing elit magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat. Pellentesque viverra vehicula sem ut volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna. Sed et quam lacus. Fusce condimentum eleifend.</p>

          <div class="row">
            <div class="col-md-6 col-sm-6">
              <div class="content-box box-img bg-light">
                <div class="row no-gutter">
                  <div class="col-md-6">
                    <img class="img-responsive" src="/assets/img/bryantdenny01_800.jpg">
                  </div> <!-- .col-md-6 -->
                  <div class="col-md-6">
                    <div class="box-body">
                      <h3><a href="#">Image Box 1</a></h3>
                      <p>Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor sit amet.</p>
                    </div> <!-- .box-body -->
                  </div> <!-- .col-md-6 -->
                </div> <!-- .row -->
              </div> <!-- .box-img -->
            </div> <!-- .col-md-6 -->

            <div class="col-md-6 col-sm-6">
              <div class="content-box box-img bg-light">
                <div class="row no-gutter">
                  <div class="col-md-6">
                    <img class="img-responsive" src="/assets/img/gorgaslibrary01_800.jpg">
                  </div> <!-- .col-md-6 -->
                  <div class="col-md-6">
                    <div class="box-body">
                      <h3><a href="#">Image Box 2</a></h3>
                      <p>Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor sit amet.</p>
                    </div> <!-- .box-body -->
                  </div> <!-- .col-md-6 -->
                </div> <!-- .row -->
              </div> <!-- .box-img -->
            </div> <!-- .col-md-6 -->
          </div> <!-- .row -->

          <div class="row">
            <div class="col-md-6 col-sm-6">
              <div class="content-box box-img bg-light">
                <div class="row no-gutter">
                  <div class="col-md-6">
                    <img class="img-responsive" src="/assets/img/librarystudent01_800.jpg">
                  </div> <!-- .col-md-6 -->
                  <div class="col-md-6">
                    <div class="box-body">
                      <h3><a href="#">Image Box 3</a></h3>
                      <p>Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor sit amet.</p>
                    </div> <!-- .box-body -->
                  </div> <!-- .col-md-6 -->
                </div> <!-- .row -->
              </div> <!-- .box-img -->
            </div> <!-- .col-md-6 -->

            <div class="col-md-6 col-sm-6">
              <div class="content-box box-img bg-light">
                <div class="row no-gutter">
                  <div class="col-md-6">
                    <img class="img-responsive" src="/assets/img/presidentsmansion01_800.jpg">
                  </div> <!-- .col-md-6 -->
                  <div class="col-md-6">
                    <div class="box-body">
                      <h3><a href="#">Image Box 4</a></h3>
                      <p>Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor sit amet.</p>
                    </div> <!-- .box-body -->
                  </div> <!-- .col-md-6 -->
                </div> <!-- .row -->
              </div> <!-- .box-img -->
            </div> <!-- .col-md-6 -->
          </div> <!-- .row -->

      </div> <!-- .col-md-12 -->
    </div> <!-- .row -->
  </div> <!-- .container -->
</section>

<section class="site-content bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 id="item-2">Section 2 Page Header</h1>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          <p>Officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor sit amet, mollitia animi, id est laborum et dolorum fug consectetur adipiscing elit. Ut non libero consectetur adipiscing elit magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat. Pellentesque viverra vehicula sem ut volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna. Sed et quam lacus. Fusce condimentum eleifend.</p>

          <div class="row">
            <div class="col-md-3 col-sm-6">
              <div class="content-box box-img bg-light text-center box-bordered">
                <img class="img-responsive" src="/assets/img/bryantdenny01_800.jpg">
                <div class="box-body">
                  <h3><a href="#">Image Box 1</a></h3>
                  <p>Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor sit amet.</p>
                  <a href="#" class="btn btn-default btn-sm">Read More <i class="fa fa-arrow-right"></i></a>
                </div> <!-- .box-body -->
              </div> <!-- .box-img -->
            </div> <!-- .col-md-3 -->

            <div class="col-md-3 col-sm-6">
              <div class="content-box box-img bg-light text-center box-bordered">
                <img class="img-responsive" src="/assets/img/gorgaslibrary01_800.jpg">
                <div class="box-body">
                  <h3><a href="#">Image Box 2</a></h3>
                  <p>Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor sit amet.</p>
                  <a href="#" class="btn btn-default btn-sm">Read More <i class="fa fa-arrow-right"></i></a>
                </div> <!-- .box-body -->
              </div> <!-- .box-img -->
            </div> <!-- .col-md-3 -->

            <div class="col-md-3 col-sm-6">
              <div class="content-box box-img bg-light text-center box-bordered">
                <img class="img-responsive" src="/assets/img/librarystudent01_800.jpg">
                <div class="box-body">
                  <h3><a href="#">Image Box 3</a></h3>
                  <p>Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor sit amet.</p>
                  <a href="#" class="btn btn-default btn-sm">Read More <i class="fa fa-arrow-right"></i></a>
                </div> <!-- .box-body -->
              </div> <!-- .box-img -->
            </div> <!-- .col-md-3 -->

            <div class="col-md-3 col-sm-6">
              <div class="content-box box-img bg-light text-center box-bordered">
                <img class="img-responsive" src="/assets/img/presidentsmansion01_800.jpg">
                <div class="box-body">
                  <h3><a href="#">Image Box 4</a></h3>
                  <p>Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor sit amet.</p>
                  <a href="#" class="btn btn-default btn-sm">Read More <i class="fa fa-arrow-right"></i></a>
                </div> <!-- .box-body -->
              </div> <!-- .box-img -->
            </div> <!-- .col-md-3 -->
          </div> <!-- .row -->

      </div> <!-- .col-md-12 -->
    </div> <!-- .row -->
  </div> <!-- .container -->
</section>

<section class="site-content bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 id="item-3">Section 3 Page Header</h1>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

          <div class="pull-right padding-left-20">
            <img src="/assets/img/bryantdenny01_800.jpg" class="img-responsive" />
          </div> <!-- .pull-right -->

          <p>Officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor sit amet, mollitia animi, id est laborum et dolorum fug consectetur adipiscing elit. Ut non libero consectetur adipiscing elit magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat. Pellentesque viverra vehicula sem ut volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna. Sed et quam lacus. Fusce condimentum eleifend.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div> <!-- .col-md-12 -->
    </div> <!-- .row -->
  </div> <!-- .container -->
</section>

<section class="site-content bg-transparent-light" style="background-image: url( '..//img/presidentsmansion01_1920.jpg' );">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 id="item-4">Section 4 Page Header</h1>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          <p>Officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor sit amet, mollitia animi, id est laborum et dolorum fug consectetur adipiscing elit. Ut non libero consectetur adipiscing elit magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat. Pellentesque viverra vehicula sem ut volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna. Sed et quam lacus. Fusce condimentum eleifend.</p>

          <div class="row">
            <div class="col-md-3 col-sm-6">
              <div class="content-box text-center bg-light box-bordered box-clickable">
                <i class="fa fa-cog icon-bg icon-primary icon-lg circle"></i>
                <h3><a href="#">Clickable Icon Box Link 1</a></h3>
                <p>Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor sit amet.</p>
              </div> <!-- .box-bordered -->
            </div>

            <div class="col-md-3 col-sm-6">
              <div class="content-box text-center bg-light box-bordered box-clickable">
                <i class="fa fa-cog icon-bg icon-primary icon-lg circle"></i>
                <h3><a href="#">Clickable Icon Box Link 2</a></h3>
                <p>Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor sit amet.</p>
              </div> <!-- .box-bordered -->
            </div>

            <div class="col-md-3 col-sm-6">
              <div class="content-box text-center bg-light box-bordered box-clickable">
                <i class="fa fa-cog icon-bg icon-primary icon-lg circle"></i>
                <h3><a href="">Clickable Icon Box Link 3</a></h3>
                <p>Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor sit amet.</p>
              </div> <!-- .box-bordered -->
            </div>

            <div class="col-md-3 col-sm-6">
              <div class="content-box text-center bg-light box-bordered box-clickable">
                <i class="fa fa-cog icon-bg icon-primary icon-lg circle"></i>
                <h3><a href="">Clickable Icon Box Link 3</a></h3>
                <p>Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor sit amet.</p>
              </div> <!-- .box-bordered -->
            </div>

          </div> <!-- .row -->

      </div> <!-- .col-md-12 -->
    </div> <!-- .row -->
  </div> <!-- .container -->
</section>

<section class="site-content bg-alt">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 id="item-5">Section 5 Page Header</h1>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          <p>Officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor sit amet, mollitia animi, id est laborum et dolorum fug consectetur adipiscing elit. Ut non libero consectetur adipiscing elit magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat. Pellentesque viverra vehicula sem ut volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna. Sed et quam lacus. Fusce condimentum eleifend.</p>

          <div class="row">
            <div class="col-md-6 col-sm-6">
              <div class="list-group">
                <a class="list-group-item" href="#"><i class="fa fa-cog fa-lg fa-fw margin-right-10"></i>Topic Link 1</a>
                <a class="list-group-item" href="#"><i class="fa fa-cog fa-lg fa-fw margin-right-10"></i>Topic Link 2</a>
                <a class="list-group-item" href="#"><i class="fa fa-cog fa-lg fa-fw margin-right-10"></i>Topic Link 3</a>
                <a class="list-group-item" href="#"><i class="fa fa-cog fa-lg fa-fw margin-right-10"></i>Topic Link 4</a>
              </div> <!-- .list-group -->
            </div> <!-- .col-md-6 -->
            <div class="col-md-6 col-sm-6">
              <div class="list-group">
                <a class="list-group-item" href="#"><i class="fa fa-cog fa-lg fa-fw margin-right-10"></i>Topic Link 5</a>
                <a class="list-group-item" href="#"><i class="fa fa-cog fa-lg fa-fw margin-right-10"></i>Topic Link 6</a>
                <a class="list-group-item" href="#"><i class="fa fa-cog fa-lg fa-fw margin-right-10"></i>Topic Link 7</a>
                <a class="list-group-item" href="#"><i class="fa fa-cog fa-lg fa-fw margin-right-10"></i>Topic Link 8</a>
              </div> <!-- .list-group -->
            </div> <!-- .col-md-6 -->
          </div> <!-- .row -->

      </div> <!-- .col-md-12 -->
    </div> <!-- .row -->
  </div> <!-- .container -->
</section>

<section class="site-content bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 id="item-6">Section 6 Page Header</h1>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          <p>Officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor sit amet, mollitia animi, id est laborum et dolorum fug consectetur adipiscing elit. Ut non libero consectetur adipiscing elit magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat. Pellentesque viverra vehicula sem ut volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna. Sed et quam lacus. Fusce condimentum eleifend.</p>

          <div class="row padding-top-10">
            <div class="col-md-6">
              <ul>
                <li class="h4"><a href="#" class="link-light">External Link 1</a></li>
                <li class="h4"><a href="#" class="link-light">External Link 2</a></li>
                <li class="h4"><a href="#" class="link-light">External Link 3</a></li>
                <li class="h4"><a href="#" class="link-light">External Link 4</a></li>
            </div> <!-- .col-md-6 -->
            <div class="col-md-6">
              <ul>
                <li class="h4"><a href="#" class="link-light">External Link 5</a></li>
                <li class="h4"><a href="#" class="link-light">External Link 6</a></li>
                <li class="h4"><a href="#" class="link-light">External Link 7</a></li>
                <li class="h4"><a href="#" class="link-light">External Link 8</a></li>
              </ul>
            </div> <!-- .col-md-6 -->
          </div> <!-- .row -->

      </div> <!-- .col-md-12 -->
    </div> <!-- .row -->
  </div> <!-- .container -->
</section>


<footer class="bg-alt">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h4>About Us</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

        <ul class="list-inline icon-social icon-social-color circle">
          <li class="twitter">
            <a href="http://www.twitter.com/UofAlabama" title="Twitter"><i class="fa fa-twitter"></i></a>
          </li>
          <li class="facebook">
            <a href="http://www.facebook.com/UniversityofAlabama" title="Facebook"><i class="fa fa-facebook"></i></a>
          </li>
          <li class="youtube">
            <a href="http://www.youtube.com/universityofalabama" title="YouTube"><i class="fa fa-youtube-play"></i></a>
          </li>
          <li class="vimeo">
            <a href="http://vimeo.com/universityofalabama/videos" title="Vimeo"><i class="fa fa-vimeo-square"></i></a>
          </li>
          <li class="apple">
            <a href="http://phobos.apple.com/WebObjects/MZStore.woa/wa/viewPodcast?id=261151324" title="iTunesU"><i class="fa fa-apple"></i></a>
          </li>
        </ul>
      </div> <!-- .col-md-3 -->

      <div class="col-md-3">
        <h4>Recent News</h4>
        <ul class="list-unstyled links-list links-news">
          <li>
            <a href="#">Lorem ipsum dolor sit amet</a>
            <small>May 04, 2015</small>
          </li>
          <li>
            <a href="#">Lorem ipsum dolor sit amet</a>
            <small>May 04, 2015</small>
          </li>
          <li>
            <a href="#">Lorem ipsum dolor sit amet</a>
            <small>May 04, 2015</small>
          </li>
        </ul>
      </div> <!-- .col-md-3 -->

      <div class="col-md-3">
        <h4>Recent Posts</h4>
        <div class="media">
          <a class="pull-left" href="#">
            <img class="media-object" src="/assets/img/news/news_championship_140.jpg" width="75" height="75" alt="image">
          </a>
          <div class="media-body">
            <h4 class="media-heading">
              <a href="#">Lorem ipsum Duis quis occaecat minim lorem ipsum tempor officia labor</a>
            </h4>
            <small>August 25, 2014</small>
          </div>
        </div> <!-- .media -->

        <div class="media">
          <a class="pull-left" href="#">
            <img class="media-object" src="/assets/img/news/news_quad_140.jpg" width="75" height="75" alt="image">
          </a>
          <div class="media-body">
            <h4 class="media-heading">
              <a href="#">Lorem ipsum Duis quis occaecat minim lorem ipsum tempor officia labor</a>
            </h4>
            <small>September 18, 2014</small>
          </div>
        </div> <!-- .media -->
      </div> <!-- .col-md-3 -->

      <div class="col-md-3">
        <h4>Subscribe</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do.</p>

        <form>
          <div class="form-group has-feedback">
            <label class="sr-only" for="subscribe">
              Email address
            </label>
            <input type="email" class="form-control" id="subscribe" placeholder="Email address" name="subscribe" required="" />
            <i class="fa fa-envelope form-control-feedback"></i>
          </div> <!-- .form-group -->

          <div class="text-right">
            <button type="submit" class="btn btn-dark btn-featured btn-xs">Submit <i class="fa fa-send"></i></button>
          </div> <!-- .text-right -->
        </form>
      </div> <!-- .col-md-3 -->
    </div> <!-- .row -->
  </div> <!-- .container -->