<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @lift_session.name %>
</p>

<%= link_to 'Edit', edit_lift_session_path(@lift_session) %> |
<%= link_to 'Back', lift_sessions_path %>
