<div class="breadcrumb-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <h1 class="breadcrumb-page-title">Experts</h1>
      </div> <!-- .col-md-6 -->
      <div class="col-md-6 col-sm-6 col-xs-12">
        <ol class="breadcrumb">
          <li><a href="#">Home</a></li>
          <li>Experts</li>
        </ol>
      </div> <!-- .col-md-6 -->
    </div> <!-- .row -->
  </div> <!-- .container -->
</div> <!-- .breadcrumb-wrapper -->

<section class="site-content">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <article class="news">
          <img src="/assets/img/bryantdenny01_800.jpg" class="img-responsive" />

          <div class="news-body">
            <h2>Standard post with featured image</h2>

            <ul class="list-inline">
              <li>
                <i class="fa fa-calendar"></i> August 08, 2015
              </li>
              <li>
                <i class="fa fa-user"></i> by <a href="#" class="blog-entry-meta-author">Kyle Fondren</a>
              </li>
              <li>
                <i class="fa fa-tag"></i>
                in
                <a href="#">Announcement</a>
              </li>
              <li>
                <i class="fa fa-comments"></i>
                <a href="#">3 Comments</a>
              </li>
            </ul>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

            <div class="clearfix">
              <p class="pull-right">
                <a href="#" class="btn btn-sm btn-crimson">Read more <i class="fa fa-arrow-right"></i></a>
              </p>
            </div> <!-- .clearfix -->
          </div> <!-- .news-body -->
        </article> <!-- .news -->

        <article class="news">
          <div class="embed-responsive embed-responsive-16by9">
            <img class="img-responsive embed-smart" data-vimeo-id="118169252" src="/assets/img/gorgaslibrary01_800.jpg" />
          </div>


          <div class="news-body">
            <h2>Video post</h2>

            <ul class="list-inline">
              <li>
                <i class="fa fa-calendar"></i> August 07, 2015
              </li>
              <li>
                <i class="fa fa-user"></i> by <a href="#" class="blog-entry-meta-author">Kyle Fondren</a>
              </li>
              <li>
                <i class="fa fa-tag"></i>
                in
                <a href="#">Announcement</a>
              </li>
              <li>
                <i class="fa fa-comments"></i>
                <a href="#">3 Comments</a>
              </li>
            </ul>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

            <div class="clearfix">
              <p class="pull-right">
                <a href="#" class="btn btn-sm btn-crimson">Read more <i class="fa fa-arrow-right"></i></a>
              </p>
            </div> <!-- .clearfix -->
          </div> <!-- .news-body -->
        </article> <!-- .news -->

        <article class="news">

          <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/162613697&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>

          <div class="news-body">
            <h2>Audio post</h2>

            <ul class="list-inline">
              <li>
                <i class="fa fa-calendar"></i> August 06, 2015
              </li>
              <li>
                <i class="fa fa-user"></i> by <a href="#" class="blog-entry-meta-author">Kyle Fondren</a>
              </li>
              <li>
                <i class="fa fa-tag"></i>
                in
                <a href="#">Announcement</a>
              </li>
              <li>
                <i class="fa fa-comments"></i>
                <a href="#">3 Comments</a>
              </li>
            </ul>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

            <div class="clearfix">
              <p class="pull-right">
                <a href="#" class="btn btn-sm btn-crimson">Read more <i class="fa fa-arrow-right"></i></a>
              </p>
            </div> <!-- .clearfix -->
          </div> <!-- .news-body -->
        </article> <!-- .news -->

        <article class="news">
          <div class="news-body">
            <h2>Text post</h2>

            <ul class="list-inline">
              <li>
                <i class="fa fa-calendar"></i> August 05, 2015
              </li>
              <li>
                <i class="fa fa-user"></i> by <a href="#" class="blog-entry-meta-author">Kyle Fondren</a>
              </li>
              <li>
                <i class="fa fa-tag"></i>
                in
                <a href="#">Announcement</a>
              </li>
              <li>
                <i class="fa fa-comments"></i>
                <a href="#">3 Comments</a>
              </li>
            </ul>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

            <div class="clearfix">
              <p class="pull-right">
                <a href="#" class="btn btn-sm btn-crimson">Read more <i class="fa fa-arrow-right"></i></a>
              </p>
            </div> <!-- .clearfix -->
          </div> <!-- .news-body -->
        </article> <!-- .news -->

        <article class="news">
          <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-example-generic" data-slide-to="1"></li>
              <li data-target="#carousel-example-generic" data-slide-to="2"></li>
              <li data-target="#carousel-example-generic" data-slide-to="3"></li>
            </ol> <!-- .carousel-indicators -->

            <div class="carousel-inner">
              <div class="item active">
                <img src="/assets/img/bryantdenny01_1920.jpg" alt="Picture 1">
                <div class="carousel-caption">
                  <h3>First slide label</h3>
                  <p>Lorem ipsum dolor sit amet, <a href="#">consectetur adipiscing elit</a>.</p>
                </div> <!-- .carousel-caption -->
              </div> <!-- .item.active -->

              <div class="item">
                <img src="/assets/img/librarystudent01_1920.jpg" alt="Picture 2">
                <div class="carousel-caption">
                  <h3>Second slide label</h3>
                  <p>Lorem ipsum dolor sit amet, <a href="#">consectetur adipiscing elit</a>.</p>
                </div> <!-- .carousel-caption -->
              </div> <!-- .item -->

              <div class="item">
                <img src="/assets/img/presidentsmansion01_1920.jpg" alt="Picture 3">
                <div class="carousel-caption">
                  <h3>Third slide label</h3>
                  <p>Lorem ipsum dolor sit amet, <a href="#">consectetur adipiscing elit</a>.</p>
                </div> <!-- .carousel-caption -->
              </div> <!-- .item -->

              <div class="item">
                <img src="/assets/img/gorgaslibrary01_1920.jpg" alt="Picture 4">
                <div class="carousel-caption">
                  <h3>Fourth slide label</h3>
                  <p>Lorem ipsum dolor sit amet, <a href="#">consectetur adipiscing elit</a>.</p>
                </div> <!-- .carousel-caption -->
              </div> <!-- .item -->
            </div> <!-- .carousel-inner -->

            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
            </a>

            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
          </div> <!-- #carousel-example-generic -->

          <div class="news-body">
            <h2>Gallery post</h2>

            <ul class="list-inline">
              <li>
                <i class="fa fa-calendar"></i> August 04, 2015
              </li>
              <li>
                <i class="fa fa-user"></i> by <a href="#" class="blog-entry-meta-author">Kyle Fondren</a>
              </li>
              <li>
                <i class="fa fa-tag"></i>
                in
                <a href="#">Announcement</a>
              </li>
              <li>
                <i class="fa fa-comments"></i>
                <a href="#">3 Comments</a>
              </li>
            </ul>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

            <div class="clearfix">
              <p class="pull-right">
                <a href="#" class="btn btn-sm btn-crimson">Read more <i class="fa fa-arrow-right"></i></a>
              </p>
            </div> <!-- .clearfix -->
          </div> <!-- .news-body -->
        </article> <!-- .news -->

        <ul class="pagination">
          <li><a href="#">&laquo;</a></li>
          <li class="active"><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li><a href="#">&raquo;</a></li>
        </ul>
      </div> <!-- .col-md-8 -->

      <div class="col-md-4 col-lg-3 col-lg-offset-1">
        <aside class="sidebar">
          <div class="sidebar-block">
            <h4><strong>Experts</strong> Diectory</h4>
            <ul class="nav nav-pills nav-stacked">
              <li><a href="#">Economics</a></li>
              <li class="active"><a href="#">Finance</a></li>
              <li><a href="#">Legal Studies</a></li>
              <li><a href="#">Accountancy</a></li>
              <li><a href="#">ISM</a></li>
              <li><a href="#">Service Marketing</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </div> <!-- .sidebar-block -->

          <div class="sidebar-block">
            <form role="search">
              <div class="input-group">
                <input type="text" id="search-term" name="q" class="form-control" placeholder="Search..">
                <input type="hidden" name="type" value="article">
                <div class="input-group-btn">
                  <button type="submit" class="btn btn-crimson"><i class="fa fa-search"></i></button>
                </div> <!-- .input-group-btn -->
              </div> <!-- .input-group -->
            </form>
          </div> <!-- .sidebar-block -->


          <div class="sidebar-block">
            <h4><strong>Expert</strong> Tags</h4>
            <ul class="list-inline blog-tags-list">
              <li>
                <a href="#">Economics</a>
              </li>
              <li>
                <a href="#">Finance</a>
              </li>
              <li>
                <a href="#">Legal Studies</a>
              </li>
              <li>
                <a href="#">Accountancy</a>
              </li>
              <li>
                <a href="#">Operations Management</a>
              </li>
              <li>
                <a href="#">ISM</a>
              </li>
              <li>
                <a href="#">Technology</a>
              </li>
            </ul>
          </div> <!-- .sidebar-block -->
        </aside> <!-- .sidebar -->
      </div> <!-- .col-md-4 -->

    </div> <!-- .row -->
  </div> <!-- .container -->
</section>