<div class="breadcrumb-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <h1 class="breadcrumb-page-title">Staff Directory</h1>
      </div> <!-- .col-md-6 -->
      <div class="col-md-6 col-sm-6 col-xs-12">
        <ol class="breadcrumb">
          <li><a href="#">Home</a></li>
          <li>Faculty & Staff</li>
        </ol>
      </div> <!-- .col-md-6 -->
    </div> <!-- .row -->
  </div> <!-- .container -->
</div>
<section class="site-content">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="content-box box-img bg-light text-center">
          <img class="img-responsive" src="/assets/img/staff/faculty01.jpg">
          <div class="box-body">
            <h3 class="no-bottom-spacing">Jane Doe</h3>
            <small>Director</small>

            <div class="divider-light faded-both"></div>

            <p class="small">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </div> <!-- .box-body -->
        </div> <!-- .content-box -->
      </div> <!-- .col-md-3 -->

      <div class="col-md-3">
        <div class="content-box box-img bg-light text-center">
          <img class="img-responsive" src="/assets/img/staff/faculty02.jpg">
          <div class="box-body">
            <h3 class="no-bottom-spacing">Lisa Mariton</h3>
            <small>Assistant Director</small>

            <div class="divider-light faded-both"></div>

            <p class="small">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </div> <!-- .box-body -->
        </div> <!-- .content-box -->
      </div> <!-- .col-md-3 -->

      <div class="col-md-3">
        <div class="content-box box-img bg-light text-center">
          <img class="img-responsive" src="/assets/img/staff/faculty03.jpg">
          <div class="box-body">
            <h3 class="no-bottom-spacing">John Doe</h3>
            <small>Manager</small>

            <div class="divider-light faded-both"></div>

            <p class="small">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </div> <!-- .box-body -->
        </div> <!-- .content-box -->
      </div> <!-- .col-md-3 -->

      <div class="col-md-3">
        <div class="content-box box-img bg-light text-center">
          <img class="img-responsive" src="/assets/img/staff/faculty04.jpg">
          <div class="box-body">
            <h3 class="no-bottom-spacing">Ella Longer</h3>
            <small>Marketing</small>

            <div class="divider-light faded-both"></div>

            <p class="small">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </div> <!-- .box-body -->
        </div> <!-- .content-box -->
      </div> <!-- .col-md-3 -->
    </div> <!-- .row -->
  </div> <!-- .container -->
</section>
<section class="site-content">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="content-box box-img bg-light text-center">
          <img class="img-responsive" src="/assets/img/staff/faculty01.jpg">
          <div class="box-body">
            <h3 class="no-bottom-spacing">Jane Doe</h3>
            <small>Director</small>

            <div class="divider-light faded-both"></div>

            <p class="small">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </div> <!-- .box-body -->
        </div> <!-- .content-box -->
      </div> <!-- .col-md-3 -->

      <div class="col-md-3">
        <div class="content-box box-img bg-light text-center">
          <img class="img-responsive" src="/assets/img/staff/faculty02.jpg">
          <div class="box-body">
            <h3 class="no-bottom-spacing">Lisa Mariton</h3>
            <small>Assistant Director</small>

            <div class="divider-light faded-both"></div>

            <p class="small">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </div> <!-- .box-body -->
        </div> <!-- .content-box -->
      </div> <!-- .col-md-3 -->

      <div class="col-md-3">
        <div class="content-box box-img bg-light text-center">
          <img class="img-responsive" src="/assets/img/staff/faculty03.jpg">
          <div class="box-body">
            <h3 class="no-bottom-spacing">John Doe</h3>
            <small>Manager</small>

            <div class="divider-light faded-both"></div>

            <p class="small">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </div> <!-- .box-body -->
        </div> <!-- .content-box -->
      </div> <!-- .col-md-3 -->

      <div class="col-md-3">
        <div class="content-box box-img bg-light text-center">
          <img class="img-responsive" src="/assets/img/staff/faculty04.jpg">
          <div class="box-body">
            <h3 class="no-bottom-spacing">Ella Longer</h3>
            <small>Marketing</small>

            <div class="divider-light faded-both"></div>

            <p class="small">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </div> <!-- .box-body -->
        </div> <!-- .content-box -->
      </div> <!-- .col-md-3 -->
    </div> <!-- .row -->
  </div> <!-- .container -->
</section>
<section class="site-content">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="content-box box-img bg-light text-center">
          <img class="img-responsive" src="/assets/img/staff/faculty01.jpg">
          <div class="box-body">
            <h3 class="no-bottom-spacing">Jane Doe</h3>
            <small>Director</small>

            <div class="divider-light faded-both"></div>

            <p class="small">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </div> <!-- .box-body -->
        </div> <!-- .content-box -->
      </div> <!-- .col-md-3 -->

      <div class="col-md-3">
        <div class="content-box box-img bg-light text-center">
          <img class="img-responsive" src="/assets/img/staff/faculty02.jpg">
          <div class="box-body">
            <h3 class="no-bottom-spacing">Lisa Mariton</h3>
            <small>Assistant Director</small>

            <div class="divider-light faded-both"></div>

            <p class="small">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </div> <!-- .box-body -->
        </div> <!-- .content-box -->
      </div> <!-- .col-md-3 -->

      <div class="col-md-3">
        <div class="content-box box-img bg-light text-center">
          <img class="img-responsive" src="/assets/img/staff/faculty03.jpg">
          <div class="box-body">
            <h3 class="no-bottom-spacing">John Doe</h3>
            <small>Manager</small>

            <div class="divider-light faded-both"></div>

            <p class="small">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </div> <!-- .box-body -->
        </div> <!-- .content-box -->
      </div> <!-- .col-md-3 -->

      <div class="col-md-3">
        <div class="content-box box-img bg-light text-center">
          <img class="img-responsive" src="/assets/img/staff/faculty04.jpg">
          <div class="box-body">
            <h3 class="no-bottom-spacing">Ella Longer</h3>
            <small>Marketing</small>

            <div class="divider-light faded-both"></div>

            <p class="small">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </div> <!-- .box-body -->
        </div> <!-- .content-box -->
      </div> <!-- .col-md-3 -->
    </div> <!-- .row -->
  </div> <!-- .container -->
</section>
<section class="site-content">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="content-box box-img bg-light text-center">
          <img class="img-responsive" src="/assets/img/staff/faculty01.jpg">
          <div class="box-body">
            <h3 class="no-bottom-spacing">Jane Doe</h3>
            <small>Director</small>

            <div class="divider-light faded-both"></div>

            <p class="small">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </div> <!-- .box-body -->
        </div> <!-- .content-box -->
      </div> <!-- .col-md-3 -->

      <div class="col-md-3">
        <div class="content-box box-img bg-light text-center">
          <img class="img-responsive" src="/assets/img/staff/faculty02.jpg">
          <div class="box-body">
            <h3 class="no-bottom-spacing">Lisa Mariton</h3>
            <small>Assistant Director</small>

            <div class="divider-light faded-both"></div>

            <p class="small">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </div> <!-- .box-body -->
        </div> <!-- .content-box -->
      </div> <!-- .col-md-3 -->

      <div class="col-md-3">
        <div class="content-box box-img bg-light text-center">
          <img class="img-responsive" src="/assets/img/staff/faculty03.jpg">
          <div class="box-body">
            <h3 class="no-bottom-spacing">John Doe</h3>
            <small>Manager</small>

            <div class="divider-light faded-both"></div>

            <p class="small">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </div> <!-- .box-body -->
        </div> <!-- .content-box -->
      </div> <!-- .col-md-3 -->

      <div class="col-md-3">
        <div class="content-box box-img bg-light text-center">
          <img class="img-responsive" src="/assets/img/staff/faculty04.jpg">
          <div class="box-body">
            <h3 class="no-bottom-spacing">Ella Longer</h3>
            <small>Marketing</small>

            <div class="divider-light faded-both"></div>

            <p class="small">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </div> <!-- .box-body -->
        </div> <!-- .content-box -->
      </div> <!-- .col-md-3 -->
    </div> <!-- .row -->
  </div> <!-- .container -->
</section>