<section class="site-section-top">
  <div id="ua-carousel" class="carousel carousel-home slide">
    <div class="carousel-inner">
      <div class="item active">
        <div class="bg-img bg-center-center" style="background-image: url( '/assets/img/quadaerial01_1920.jpg' );">
          <div class="caption">
            <div class="caption-inner">
              <a href="https://vimeo.com/104625184" target="_blank">
                <h2>Manderson Graduate School of Business</h2>
                <p class="lead">Stimulating education, scientific advancement and economic growth</p>
                <button class="btn btn-transparent uppercase margin-top-10">Watch Video</button>
              </a>
            </div> <!-- .caption-inner -->
          </div> <!-- .caption -->
        </div> <!-- .bg-img -->
      </div> <!-- .item -->

      <div class="item">
        <div class="bg-img bg-center-center" style="background-image: url( '/assets/img/quadstudents03_1920.jpg' );">
          <div class="container site-content">
            <div class="caption caption-left">
              <div class="caption-inner">
                <h2><a href="#">Find Your Major</a></h2>
                <p class="lead"><a href="#">UA offers more than 80 undergraduate degree<br /> programs through its 12 colleges and schools.</a></p>
              </div> <!-- .caption-inner -->
            </div> <!-- .caption -->
          </div> <!-- .container -->
        </div> <!-- .bg-img -->
      </div> <!-- .item -->

      <div class="item">
        <div class="bg-img bg-center-center" style="background-image: url( '/assets/img/commencement01_1920.jpg' );">
          <div class="container site-content">
            <div class="caption">
              <div class="caption-inner">
                <h2><a href="#">2015 Winter Commencement</a></h2>
                <p class="lead"><a href="#">Join us December 4th in Coleman Coliseum or view our live webcast.</a></p>
              </div> <!-- .caption-inner -->
            </div> <!-- .caption -->
          </div> <!-- .container -->
        </div> <!-- .bg-img -->
      </div> <!-- .item -->

      <div class="item">
        <div class="bg-img bg-center-bottom" style="background-image: url( '/assets/img/dennychimes01_1920.jpg' );">
          <div class="container site-content">
            <div class="caption caption-left">
              <div class="caption-inner">
                <h2><a href="#">By the Numbers</a></h2>
                <p class="lead"><a href="#">Facts, figures and key things to know about UA.</a></p>
              </div> <!-- .caption-inner -->
            </div> <!-- .caption -->
          </div> <!-- .container -->
        </div> <!-- .bg-img -->
      </div> <!-- .item -->

    </div> <!-- .carousel-inner -->

    <a class="left carousel-control" href="#ua-carousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>

    <a class="right carousel-control" href="#ua-carousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div> <!-- #ua-carousel -->
</section>

<section class="site-content bg-dark">
  <div class="container">
    <div class="row padding-top-20">
      <div class="col-md-3 col-sm-6 text-center">
        <i class="fa fa-graduation-cap icon-bg icon-primary circle icon-xl icon-reversed"></i>
        <h2><a href="#" class="link-white">Majors</a></h2>
        <p class="padding-x-10">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin cursus rhoncus porta.</p>
      </div> <!-- .col-md-3 -->

      <div class="col-md-3 col-sm-6 text-center">
        <i class="fa fa-users icon-bg icon-primary circle icon-xl icon-reversed"></i>
        <h2><a href="#" class="link-white">Programs</a></h2>
        <p class="padding-x-10">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin cursus rhoncus porta.</p>
      </div> <!-- .col-md-3 -->

      <div class="col-md-3 col-sm-6 text-center">
        <i class="fa fa-book icon-bg icon-primary circle icon-xl icon-reversed"></i>
        <h2><a href="#" class="link-white">Resources</a></h2>
        <p class="padding-x-10">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin cursus rhoncus porta.</p>
      </div> <!-- .col-md-3 -->

      <div class="col-md-3 col-sm-6 text-center">
        <i class="fa fa-university icon-bg icon-primary circle icon-xl icon-reversed"></i>
        <h2><a href="#" class="link-white">Apply</a></h2>
        <p class="padding-x-10">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin cursus rhoncus porta.</p>
      </div> <!-- .col-md-3 -->
    </div> <!-- .row -->
  </div> <!-- .container -->
</section>

<section class="site-content text-center bg-transparent-dark" style="background-image: url( '/assets/img/quadstudents03_1920.jpg' );">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="padding-top-40">"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."</h2>
        <p class="h4">- Mahatma Gandhi</p>
      </div> <!-- .col-md-12 -->
    </div> <!-- .row -->
  </div> <!-- .container -->
</section>

<section class="site-content">
  <div class="container">
    <h3 class="page-header upcoming-events margin-bottom-10">
      Latest News
      <small class="more-events">
        <a href="http://events.ua.edu/">MORE <i class="fa fa-caret-right padding-left-5"></i></a>
      </small>
    </h3>

    <div class="row">
      <div class="col-md-4">
        <div class="content-box box-img">
          <div class="box-badge">
            <span>25</span>
            <small>Aug</small>
          </div> <!-- .box-badge -->

          <img class="img-responsive" src="/assets/img/presidentsmansion01_800.jpg">

          <div class="box-body">
            <h3><a href="#">Feature/News Story</a></h3>
            <p class="small margin-bottom-10 text-muted">
              <i class="fa fa-tag"></i> News, President
            </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
          </div> <!-- .box-body -->
        </div> <!-- .box-img -->
      </div> <!-- .col-md-4 -->

      <div class="col-md-4">
        <div class="content-box box-img">
          <div class="box-badge">
            <span>20</span>
            <small>Aug</small>
          </div> <!-- .box-badge -->

          <img class="img-responsive" src="/assets/img/librarystudent01_800.jpg">

          <div class="box-body">
            <h3><a href="#">Feature/News Story</a></h3>
            <p class="small margin-bottom-10 text-muted">
              <i class="fa fa-tag"></i> News, Science, Libraries</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>

          </div> <!-- .box-body -->
        </div> <!-- .box-img -->
      </div> <!-- .col-md-4 -->

      <div class="col-md-4">
        <ul class="media-list margin-top-15">
          <li class="media">
            <p class="small text-muted no-bottom-spacing">January 20, 2016</p>
            <h4 class="media-heading">
              <a href="http://uanews.ua.edu/2016/01/multiple-schools-to-compete-in-leadership-diversity-competition-at-ua/">Multiple Schools to Compete in Leadership Diversity Competition at UA</a>
            </h4>
          </li>

          <li class="media">
            <div class="media-left">
              <img class="media-object" src="/assets/img/news/news_championship_140.jpg" width="70" height="70" alt="image">
            </div> <!-- .media-left -->
            <div class="media-body">
              <p class="small text-muted no-bottom-spacing">January 19, 2016</p>
              <h4 class="media-heading">
                <a href="http://uanews.ua.edu/2016/01/paintings-by-ua-alumna-dale-kennington-on-display-at-downtown-gallery/">Paintings by UA Alumna Dale Kennington on Display at Downtown Gallery</a>
              </h4>
            </div> <!-- .media-body -->
          </li>

          <li class="media">
            <p class="small text-muted no-bottom-spacing">January 20, 2016</p>
            <h4 class="media-heading">
              <a href="http://uanews.ua.edu/2016/01/ua-stages-one-day-course-in-cyber-security/">UA Stages One-Day Course in Cyber Security</a>
            </h4>
          </li>

          <li class="media">
            <p class="small text-muted no-bottom-spacing">January 19, 2016</p>
            <h4 class="media-heading">
              <a href="http://uanews.ua.edu/2016/01/uas-bama-dining-to-offer-cooking-classes-to-community/">UA’s Bama Dining to Offer Cooking Classes to Community</a>
            </h4>
          </li>

          <li class="media">
            <div class="media-left">
              <img class="media-object" src="/assets/img/news/news_quad_140.jpg" width="70" height="70" alt="image">
            </div> <!-- .media-left -->

            <div class="media-body">
              <p class="small text-muted no-bottom-spacing">January 18, 2016</p>
              <h4 class="media-heading">
                <a href="http://uanews.ua.edu/2016/01/ua-school-of-social-work-to-host-symposium-on-aging-adults/">UA School of Social Work to Host Symposium on Aging Adults</a>
              </h4>
            </div> <!-- .media-body -->
          </li>

          <li class="media">
            <p class="small text-muted no-bottom-spacing">January 20, 2016</p>
            <h4 class="media-heading">
              <a href="http://uanews.ua.edu/2016/01/ua-stages-one-day-course-in-cyber-security/">UA Stages One-Day Course in Cyber Security</a>
            </h4>
          </li>
        </ul>
      </div> <!-- .col-md-4 -->
    </div> <!-- .row -->
  </div> <!-- .container -->
</section>

<section class="site-content bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3 class="page-header upcoming-events no-top-spacing">Upcoming Events</h3>
        <div class="row">
          <div class="col-md-12 col-sm-6">
            <div class="media padding-bottom-15">
              <div class="media-left">
                <div class="event-date margin-bottom-5">
                  <p>21</p>
                  <small class="uppercase">Jan</small>
                </div> <!-- .event-date -->
              </div> <!-- .media-left -->
              <div class="media-body event-details">
                <h4 class="media-heading">
                  <a href="http://events.ua.edu/event/29765">UA at Oxford-Education Abroad Information Session</a>
                </h4>
                <p>
                  <i class="fa fa-clock-o fa-fw"></i> <strong>Thu</strong> 1/21, 5:00 p.m.
                  <br>
                  <i class="fa fa-map-marker fa-fw"></i> <span class="letter-spacing">301 Morgan Hall</span>
                </p>
              </div> <!-- .media-body -->
            </div> <!-- .media -->
          </div> <!-- .col-md-12 -->

          <div class="col-md-12 col-sm-6">
            <div class="media padding-bottom-15">
              <div class="media-left">
                <div class="event-date margin-bottom-5">
                  <p>21</p>
                  <small class="uppercase">Jan</small>
                </div> <!-- .event-date -->
              </div> <!-- .media-left -->
              <div class="media-body event-details">
                <h4 class="media-heading">
                  <a href="http://events.ua.edu/event/30468">Discover: Acting</a>
                </h4>
                <p>
                  <i class="fa fa-clock-o fa-fw"></i> <strong>Thu</strong> 1/21, 6:00 p.m.
                  <br>
                  <i class="fa fa-map-marker fa-fw"></i> <span class="letter-spacing">205 Gorgas Library</span>
                </p>
              </div> <!-- .media-body -->
            </div> <!-- .media -->
          </div> <!-- .col-md-12 -->

          <div class="clearfix visible-sm-block visible-xs-block"></div>

          <div class="col-md-12 col-sm-6">
            <div class="media padding-bottom-15">
              <div class="media-left">
                <div class="event-date margin-bottom-5">
                  <p>23</p>
                  <small class="uppercase">Jan</small>
                </div> <!-- .event-date -->
              </div> <!-- .media-left -->
              <div class="media-body event-details">
                <h4 class="media-heading">
                  <a href="http://events.ua.edu/event/30666">National Championship Celebration</a>
                </h4>
                <p>
                  <i class="fa fa-clock-o fa-fw"></i> <strong>Sat</strong> 1/23, 11:00 a.m.
                  <br>
                  <i class="fa fa-map-marker fa-fw"></i> <span class="letter-spacing">Denny Chimes to Bryant-Denny Stadium</span>
                </p>
              </div> <!-- .media-body -->
            </div> <!-- .media -->
          </div> <!-- .col-md-12 -->

          <div class="col-md-12 col-sm-6">
            <div class="media padding-bottom-15">
              <div class="media-left">
                <div class="event-date margin-bottom-5">
                  <p>23</p>
                  <small class="uppercase">Jan</small>
                </div> <!-- .event-date -->
              </div> <!-- .media-left -->
              <div class="media-body event-details">
                <h4 class="media-heading">
                  <a href="http://events.ua.edu/event/27437">Women in STEM Experience Symposium</a>
                </h4>
                <p>
                  <i class="fa fa-clock-o fa-fw"></i> <strong>Sat</strong> 1/23, All Day
                  <br>
                  <i class="fa fa-map-marker fa-fw"></i> <span class="letter-spacing">Bryant Conf. Center</span>
                </p>
              </div> <!-- .media-body -->
            </div> <!-- .media -->
          </div> <!-- .col-md-12 -->

          <div class="col-md-12 col-sm-6">
            <div class="media padding-bottom-15">
              <div class="media-left">
                <div class="event-date margin-bottom-5">
                  <p>2</p>
                  <small class="uppercase">Feb</small>
                </div> <!-- .event-date -->
              </div> <!-- .media-left -->
              <div class="media-body event-details">
                <h4 class="media-heading">
                  <a href="http://events.ua.edu/event/30978">Take a Journey in Science Series</a>
                </h4>
                <p>
                  <i class="fa fa-clock-o fa-fw"></i> <strong>Tue</strong> 2/2, 2:00 p.m.
                  <br>
                  <i class="fa fa-map-marker fa-fw"></i> <span class="letter-spacing">Rodgers Library</span>
                </p>
              </div> <!-- .media-body -->
            </div> <!-- .media -->
          </div> <!-- .col-md-12 -->
        </div> <!-- .row -->
      </div> <!-- .col-md-4 -->

      <div class="col-md-8">
        <img class="img-responsive" src="/assets/img/bryantdenny01_800.jpg" alt="people">
        <h3><a href="#">Featured Event</a></h3>
        <p>
          <i class="fa fa-clock-o fa-fw"></i> <strong>Sat</strong> 1/23, All Day
          <i class="fa fa-map-marker fa-fw"></i> <span class="letter-spacing">Bryant Conf. Center</span>
        </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div> <!-- .col-md-8 -->
    </div> <!-- .row -->
  </div> <!-- .container -->
</section>