<section class="site-section-top">
  <div id="ua-carousel" class="carousel carousel-home slide">
    <div class="carousel-inner">
      <div class="item active">
        <div class="bg-img bg-center-center" style="background-image: url( '/assets/img/quadaerial01_1920.jpg' );">
          <div class="caption">
            <div class="caption-inner">
              <a href="https://vimeo.com/104625184" target="_blank">
                <h2>The Capstone of Higher Education</h2>
                <p class="lead">Stimulating education, scientific advancement and economic growth</p>
                <button class="btn btn-transparent uppercase margin-top-10">Watch Video</button>
              </a>
            </div> <!-- .caption-inner -->
          </div> <!-- .caption -->
        </div> <!-- .bg-img -->
      </div> <!-- .item -->

      <div class="item">
        <div class="bg-img bg-center-center" style="background-image: url( '/assets/img/quadstudents03_1920.jpg' );">
          <div class="container site-content">
            <div class="caption caption-left">
              <div class="caption-inner">
                <h2><a href="#">Find Your Major</a></h2>
                <p class="lead"><a href="#">UA offers more than 80 undergraduate degree<br /> programs through its 12 colleges and schools.</a></p>
              </div> <!-- .caption-inner -->
            </div> <!-- .caption -->
          </div> <!-- .container -->
        </div> <!-- .bg-img -->
      </div> <!-- .item -->

      <div class="item">
        <div class="bg-img bg-center-center" style="background-image: url( '/assets/img/commencement01_1920.jpg' );">
          <div class="container site-content">
            <div class="caption">
              <div class="caption-inner">
                <h2><a href="#">2015 Winter Commencement</a></h2>
                <p class="lead"><a href="#">Join us December 4th in Coleman Coliseum or view our live webcast.</a></p>
              </div> <!-- .caption-inner -->
            </div> <!-- .caption -->
          </div> <!-- .container -->
        </div> <!-- .bg-img -->
      </div> <!-- .item -->

      <div class="item">
        <div class="bg-img bg-center-bottom" style="background-image: url( '/assets/img/dennychimes01_1920.jpg' );">
          <div class="container site-content">
            <div class="caption caption-left">
              <div class="caption-inner">
                <h2><a href="#">By the Numbers</a></h2>
                <p class="lead"><a href="#">Facts, figures and key things to know about UA.</a></p>
              </div> <!-- .caption-inner -->
            </div> <!-- .caption -->
          </div> <!-- .container -->
        </div> <!-- .bg-img -->
      </div> <!-- .item -->

    </div> <!-- .carousel-inner -->

    <a class="left carousel-control" href="#ua-carousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>

    <a class="right carousel-control" href="#ua-carousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div> <!-- #ua-carousel -->
</section>

<section class="site-content">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="content-box box-img box-bordered text-center">
          <img class="img-responsive" src="/assets/img/bryantdenny01_800.jpg">

          <div class="box-body">
            <h3><a href="#">Feature Title 1</a></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </div> <!-- .box-body -->
        </div> <!-- .box-img -->
      </div> <!-- .col-md-4 -->

      <div class="col-md-4">
        <div class="content-box box-img box-bordered text-center">
          <img class="img-responsive" src="/assets/img/presidentsmansion01_800.jpg">

          <div class="box-body">
            <h3><a href="#">Feature Title 2</a></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </div> <!-- .box-body -->
        </div> <!-- .box-img -->
      </div> <!-- .col-md-4 -->

      <div class="col-md-4">
        <div class="content-box box-img box-bordered text-center">
          <img class="img-responsive" src="/assets/img/librarystudent01_800.jpg">

          <div class="box-body">
            <h3><a href="#">Feature Title 3</a></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </div> <!-- .box-body -->
        </div> <!-- .box-img -->
      </div> <!-- .col-md-4 -->
    </div> <!-- .row -->
  </div> <!-- .container -->
</section>

<section class="site-content bg-light padding-bottom-25">
  <div class="container padding-top-10">
    <div class="row">
      <div class="col-md-12">
        <h3 class="page-header upcoming-events margin-bottom-25 padding-bottom-10 no-top-spacing">
          Upcoming Events
          <small class="more-events">
            <a href="http://events.ua.edu/">MORE<i class="fa fa-caret-right padding-left-5"></i></a>
          </small>
        </h3>
      </div> <!-- .col-md-12 -->
    </div> <!-- .row -->

    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="media padding-bottom-15">
          <div class="media-left">
            <div class="event-date margin-bottom-5">
              <p>20</p>
              <small class="uppercase">Jan</small>
            </div> <!-- .event-date -->
          </div> <!-- .media-left -->
          <div class="media-body event-details">
            <h4 class="media-heading">
              <a href="http://events.ua.edu/event/30177">UA School of Music Presents: Boston Brass Concert</a>
            </h4>
            <p>
              <i class="fa fa-clock-o fa-fw"></i> <strong>Wed</strong> 1/20, 7:30 p.m.
              <br>
              <i class="fa fa-map-marker fa-fw"></i> <span class="letter-spacing">125 Moody Music Bldng</span>
            </p>
          </div> <!-- .media-body -->
        </div> <!-- .media -->
      </div> <!-- .col-md-3 -->

      <div class="col-md-3 col-sm-6">
        <div class="media padding-bottom-15">
          <div class="media-left">
            <div class="event-date margin-bottom-5">
              <p>21</p>
              <small class="uppercase">Jan</small>
            </div> <!-- .event-date -->
          </div> <!-- .media-left -->
          <div class="media-body event-details">
            <h4 class="media-heading">
              <a href="http://events.ua.edu/event/29765">UA at Oxford-Education Abroad Information Session</a>
            </h4>
            <p>
              <i class="fa fa-clock-o fa-fw"></i> <strong>Thu</strong> 1/21, 5:00 p.m.
              <br>
              <i class="fa fa-map-marker fa-fw"></i> <span class="letter-spacing">301 Morgan Hall</span>
            </p>
          </div> <!-- .media-body -->
        </div> <!-- .media -->
      </div> <!-- .col-md-3 -->

      <div class="clearfix visible-sm-block visible-xs-block"></div>

      <div class="col-md-3 col-sm-6">
        <div class="media padding-bottom-15">
          <div class="media-left">
            <div class="event-date margin-bottom-5">
              <p>21</p>
              <small class="uppercase">Jan</small>
            </div> <!-- .event-date -->
          </div> <!-- .media-left -->
          <div class="media-body event-details">
            <h4 class="media-heading">
              <a href="http://events.ua.edu/event/30468">Discover: Acting</a>
            </h4>
            <p>
              <i class="fa fa-clock-o fa-fw"></i> <strong>Thu</strong> 1/21, 6:00 p.m.
              <br>
              <i class="fa fa-map-marker fa-fw"></i> <span class="letter-spacing">205 Gorgas Library</span>
            </p>
          </div> <!-- .media-body -->
        </div> <!-- .media -->
      </div> <!-- .col-md-3 -->

      <div class="col-md-3 col-sm-6">
        <div class="media padding-bottom-15">
          <div class="media-left">
            <div class="event-date margin-bottom-5">
              <p>23</p>
              <small class="uppercase">Jan</small>
            </div> <!-- .event-date -->
          </div> <!-- .media-left -->
          <div class="media-body event-details">
            <h4 class="media-heading">
              <a href="http://events.ua.edu/event/30666">National Championship Celebration</a>
            </h4>
            <p>
              <i class="fa fa-clock-o fa-fw"></i> <strong>Sat</strong> 1/23, 10:00 a.m.
              <br>
              <i class="fa fa-map-marker fa-fw"></i> <span class="letter-spacing">Denny Chimes to Bryant-Denny Stadium</span>
            </p>
          </div> <!-- .media-body -->
        </div> <!-- .media -->
      </div> <!-- .col-md-3 -->
    </div> <!-- .row -->
  </div> <!-- .container -->
</section>

<section class="site-content bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="content-box text-center">
          <i class="fa fa-cloud icon-bg icon-primary icon-reversed icon-lg circle"></i>

          <h3>Resource Title 1</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
          <a href="#" class="link-white">
            Read More
            <i class="fa fa-angle-double-right"></i>
          </a>
        </div> <!-- .box-bordered -->
      </div> <!-- .col-md-4 -->

      <div class="col-md-4">
        <div class="content-box text-center">
          <i class="fa fa-star icon-bg icon-primary icon-reversed icon-lg circle"></i>

          <h3>Resource Title 2</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
          <a href="#" class="link-white">
            Read More
            <i class="fa fa-angle-double-right"></i>
          </a>
        </div> <!-- .box-bordered -->
      </div> <!-- .col-md-4 -->

      <div class="col-md-4">
        <div class="content-box text-center">
          <i class="fa fa-calendar icon-bg icon-primary icon-reversed icon-lg circle"></i>

          <h3>Resource Title 3</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
          <a href="#" class="link-white">
            Read More
            <i class="fa fa-angle-double-right"></i>
          </a>
        </div> <!-- .box-bordered -->
      </div> <!-- .col-md-4 -->
    </div> <!-- .row -->
  </div> <!-- .container -->
</section>

<section class="site-content bg-dark">
  <div class="container">
    <div class="text-center">
      <h2>Image Gallery</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>

    <div class="row no-gutter margin-bottom-30">
      <div class="col-sm-3">
        <a href="/assets/img/presidentsmansion01_1920.jpg" class="thumbnail-lightbox" title="The First Caption">
          <img class="img-responsive thumbnail-lightbox" src="/assets/img/presidentsmansion01_800.jpg">
        </a>
      </div> <!-- .col-md-3 -->

      <div class="col-sm-3">
        <a href="/assets/img/dennychimes01_1920.jpg" class="thumbnail-lightbox" title="The Second Caption">
          <img class="img-responsive thumbnail-lightbox" src="/assets/img/dennychimes01_800.jpg">
        </a>
      </div> <!-- .col-md-3 -->

      <div class="col-sm-3">
        <a href="/assets/img/librarystudent01_1920.jpg" class="thumbnail-lightbox" title="The Third Caption">
          <img class="img-responsive thumbnail-lightbox" src="/assets/img/librarystudent01_800.jpg">
        </a>
      </div> <!-- .col-md-3 -->

      <div class="col-sm-3">
        <a href="/assets/img/bryantdenny01_1920.jpg" class="thumbnail-lightbox" title="The Fourth Caption">
          <img class="img-responsive thumbnail-lightbox" src="/assets/img/bryantdenny01_800.jpg">
        </a>
      </div> <!-- .col-md-3 -->
    </div> <!-- .row -->
  </div> <!-- .container -->
</section>

<div id="map-4" class="map"></div>