<section class="site-content">
	<div class="container">
		<div class="row">

			<h1>Editing Course Category</h1>
			
			<%= render 'form' %>
			
			<%= link_to 'Show', @course_category %> |
			<%= link_to 'Back', course_categories_path %>

		</div> <!-- .col-md-3 -->
	</div> <!-- .row -->
</section> <!-- .container -->