<section class="site-content">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <h1 class="page-header">Edit User</h1>

        <%= render 'form' %>

        <%= link_to 'Show', @user %> |
        <%= link_to 'Back', users_path %>

      </div> <!-- .col-md-3 -->
    </div> <!-- .row -->
  </div> <!-- .container -->
</section>