<section class="site-content">
	<div class="container">
		<div class="row">
			
			<h1 class="page-header">New User</h1>
			
			<%= render 'form' %>
			
			<%= link_to 'Back', users_path %>

		</div> <!-- .col-md-3 -->
	</div> <!-- .row -->
</section> <!-- .container -->