<header class="row">
  <div class="col-sm-2">
    <a href="#" class="profile-picture">
      <img src="" class="img-responsive img-circle">
    </a>
  </div>
  <div class="col-sm-7">
    <ul class="profile-info-sections">
      <li>
        <div class="profile-name">
          <strong>
            <a href="#">Full Name</a>
            <a href="#" class="user-status is-online tooltip-primary" data-toggle="tooltip" data-placement="top" data-original-title="Online"></a>
          </strong>
          <span>
            <a href="#">Title</a>
          </span>
        </div>
      </li>
    </ul>
  </div>
  <div class="col-sm-3">
  </div>
</header>

<%= link_to 'Edit', edit_user_path(@user) %>
