<section class="site-content">
	<div class="container">
		<div class="row">

			<h1>Editing College Video</h1>
			
			<%= render 'form' %>
			
			<%= link_to 'Show', @college_video %> |
			<%= link_to 'Back', college_videos_path %>

		</div> <!-- .col-md-3 -->
	</div> <!-- .row -->
</section> <!-- .container -->