<section class="site-content">
  <div class="container">
    <div class="row">
      <h1>Reservation Form</h1>

      <p>
        <strong>Title:</strong>
        <%= @ces_event.title %>
      </p>

      <p>
        <strong>Description:</strong>
        <%= @ces_event.description %>
      </p>



    </div> <!-- .col-md-3 -->
  </div> <!-- .row -->
</section> <!-- .container -->