<section class="site-content">
  <div class="container">
    <div class="row">
      <p id="notice"><%= notice %></p>

      <h1>Edit Alumni Chapters</h1>

        <%= render 'form' %>

        <%= link_to 'Show', @alumni_chapter %> |
        <%= link_to 'Back', alumni_chapters_path %>

    </div> <!-- .col-md-3 -->
  </div> <!-- .row -->
</section> <!-- .container -->