<h1>New Section</h1>

<%= render 'form' %>

<br><br>
<%= link_to '<< Sections for this Page', {:action => 'index', :page_id => @page.id, :department_id => @department_id} %>
<br><br>

<%# link_to 'Back to All Pages', pages_path %>

