<div class="row">

                      <% section.timelines.each do |i| %>

                          <h2 id="center" class="page-header">Center Timeline</h2>
                          <p>A timeline is useful to display a series of events, history, or news in a unique way.</p>

                          <ul class="timeline">
                            <li class="timeline-year">
                              <span>2014</span>
                            </li> <!-- .timeline-year -->

                            <li class="timeline-event">
                              <div class="timeline-event-title">
                                <h3>First Event</h3>
                                <time datetime="2014-08-01">Aug 01, 2014</time>
                              </div> <!-- .timeline-event-title -->

                              <div class="timeline-event-content">
                                <p>
                                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id ipsum varius, tincidunt odio nec, placerat enim.
                                </p>
                              </div> <!-- .timeline-event-content -->
                            </li> <!-- .timeline-event -->

                            <li class="timeline-event timeline-event-right">
                              <div class="timeline-event-title">
                                <h3>Second Event</h3>
                                <time datetime="2014-08-05">Aug 05, 2014</time>
                              </div> <!-- .timeline-event-title -->

                              <div class="timeline-event-content">
                                <p>
                                  <img src="/assets/img/presidentsmansion01_800.jpg" class="img-responsive">
                                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id ipsum varius, tincidunt odio nec, placerat enim.
                                </p>
                              </div> <!-- .timeline-event-content -->
                            </li> <!-- .timeline-event-right -->

                            <li class="timeline-event">
                              <div class="timeline-event-title">
                                <h3>Third Event</h3>
                                <time datetime="2014-08-07">Aug 07, 2014</time>
                              </div> <!-- .timeline-event-title -->

                              <div class="timeline-event-content">
                                <p>
                                  <img src="/assets/img/gorgaslibrary01_800.jpg" class="img-responsive">
                                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id ipsum varius, tincidunt odio nec, placerat enim.
                                </p>
                              </div> <!-- .timeline-event-content -->
                            </li> <!-- .timeline-event -->

                            <li class="timeline-event timeline-event-right">
                              <div class="timeline-event-title">
                                <h3>Fourth Event</h3>
                                <time datetime="2014-09-10">Sep 10, 2014</time>
                              </div> <!-- .timeline-event-title -->

                              <div class="timeline-event-content">
                                <p>
                                  Donec eu sem placerat, porta nulla a, dignissim tellus. Praesent non lorem leo. Mauris quis hendrerit metus, id vehicula leo. Cum sociis natoque penatibus et magnis dis parturient montes.
                                </p>
                              </div> <!-- .timeline-event-content -->
                            </li> <!-- .timeline-event-right -->

                            <li class="timeline-event">
                              <div class="timeline-event-title">
                                <h3>Fifth Event</h3>
                                <time datetime="2014-10-14">Oct 14, 2014</time>
                              </div> <!-- .timeline-event-title -->

                              <div class="timeline-event-content">
                                <p>
                                  Donec eu sem placerat, porta nulla a, dignissim tellus. Praesent non lorem leo. Mauris quis hendrerit metus, id vehicula leo. Cum sociis natoque penatibus et magnis dis parturient montes.
                                </p>
                              </div> <!-- .timeline-event-content -->
                            </li> <!-- .timeline-event -->

                            <li class="timeline-event timeline-event-right">
                              <div class="timeline-event-title">
                                <h3>Sixth Event</h3>
                                <time datetime="2014-11-21">Nov 21, 2014</time>
                              </div> <!-- .timeline-event-title -->

                              <div class="timeline-event-content">
                                <p>
                                  Lorem ipsum dolor sit amet, <a href="#">consectetur adipiscing elit</a>. Nullam id ipsum varius, tincidunt odio nec, placerat enim.
                                </p>
                              </div> <!-- .timeline-event-content -->
                            </li> <!-- .timeline-event-right -->

                            <li class="timeline-year">
                              <span>2015</span>
                            </li> <!-- .timeline-year -->
                          </ul>

                      <% end %>

                    </div>
