<section class="site-section-top">
  <div id="ua-carousel" class="carousel carousel-home slide">
    <div class="carousel-inner">
      <div class="item active">
        <div class="bg-img bg-center-center" style="background-image: url( '/assets/img/quadaerial01_1920.jpg' );">
          <div class="caption">
            <div class="caption-inner">
              <a href="https://vimeo.com/104625184" target="_blank">
                <h2>The Capstone of Higher Education</h2>
                <p class="lead">Stimulating education, scientific advancement and economic growth</p>
                <button class="btn btn-transparent uppercase margin-top-10">Watch Video</button>
              </a>
            </div> <!-- .caption-inner -->
          </div> <!-- .caption -->
        </div> <!-- .bg-img -->
      </div> <!-- .item -->

      <div class="item">
        <div class="bg-img bg-center-center" style="background-image: url( '/assets/img/quadstudents03_1920.jpg' );">
          <div class="container site-content">
            <div class="caption caption-left">
              <div class="caption-inner">
                <h2><a href="#">Find Your Major</a></h2>
                <p class="lead"><a href="#">UA offers more than 80 undergraduate degree<br /> programs through its 12 colleges and schools.</a></p>
              </div> <!-- .caption-inner -->
            </div> <!-- .caption -->
          </div> <!-- .container -->
        </div> <!-- .bg-img -->
      </div> <!-- .item -->

      <div class="item">
        <div class="bg-img bg-center-center" style="background-image: url( '/assets/img/commencement01_1920.jpg' );">
          <div class="container site-content">
            <div class="caption">
              <div class="caption-inner">
                <h2><a href="#">2015 Winter Commencement</a></h2>
                <p class="lead"><a href="#">Join us December 4th in Coleman Coliseum or view our live webcast.</a></p>
              </div> <!-- .caption-inner -->
            </div> <!-- .caption -->
          </div> <!-- .container -->
        </div> <!-- .bg-img -->
      </div> <!-- .item -->

      <div class="item">
        <div class="bg-img bg-center-bottom" style="background-image: url( '/assets/img/dennychimes01_1920.jpg' );">
          <div class="container site-content">
            <div class="caption caption-left">
              <div class="caption-inner">
                <h2><a href="#">By the Numbers</a></h2>
                <p class="lead"><a href="#">Facts, figures and key things to know about UA.</a></p>
              </div> <!-- .caption-inner -->
            </div> <!-- .caption -->
          </div> <!-- .container -->
        </div> <!-- .bg-img -->
      </div> <!-- .item -->

    </div> <!-- .carousel-inner -->

    <a class="left carousel-control" href="#ua-carousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>

    <a class="right carousel-control" href="#ua-carousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div> <!-- #ua-carousel -->
</section>

<section class="site-content bg-dark">
  <div class="container">
    <div class="row padding-top-20">
      <div class="col-md-3">
        <div class="content-box box-img bg-light text-center">
          <img src="/uploads/imagebox/image/1/display_Specialized_Master_s_Class_of_2017.jpg" alt="Display specialized master s class of 2017" />
          <div class="box-body">
            <h3><a href="#">Specialized Masters</a></h3>
            <p>Eight different master’s from which to choose mean there is something for everyone, with or without a business background.</p>
            <a href="http://webdev.cba.ua.edu/graduate-programs" class="btn btn-default btn-sm">Read More <i class="fa fa-arrow-right"></i></a>
          </div> <!-- .box-body -->
        </div> <!-- .box-img -->
      </div>


      <div class="col-md-3">
        <div class="content-box box-img bg-light text-center">
          <img src="/uploads/imagebox/image/2/display_mba_imgbox.jpg" alt="Display mba imgbox" class="img-responsive"/>
          <div class="box-body">
            <h3><a href="#">MBA</a></h3>
            <p>Learn about our two-year on-campus nationally ranked MBA program, focused on teamwork and increasing your marketability.</p>
            <a href="http://webdev.cba.ua.edu/graduate-programs/mba/" class="btn btn-default btn-sm">Read More <i class="fa fa-arrow-right"></i></a>
          </div> <!-- .box-body -->
        </div> <!-- .box-img -->
      </div>


      <div class="col-md-3">
        <div class="content-box box-img bg-light text-center">
          <img src="/uploads/imagebox/image/3/display_emba_imgbox.jpg" alt="Display emba imgbox" />
          <div class="box-body">
            <h3><a href="#">Executive MBA</a></h3>
            <p>Offering options in Tuscaloosa and Huntsville, our executive program is designed to take your leadership to the next level.</p>
            <a href="http://webdev.cba.ua.edu/graduate-programs/emba/" class="btn btn-default btn-sm">Read More <i class="fa fa-arrow-right"></i></a>
          </div> <!-- .box-body -->
        </div> <!-- .box-img -->
      </div>


      <div class="col-md-3">
        <div class="content-box box-img bg-light text-center">
          <img src="/uploads/imagebox/image/4/display_phd_imgbox.jpg" alt="Display phd imgbox" />
          <div class="box-body">
            <h3><a href="#">Ph.D Programs</a></h3>
            <p>Several online specialized master’s offerings allow you the flexibility to study at your own pace and earn the business degree you have always wanted.</p>
            <a href="http://webdev.cba.ua.edu/graduate-programs" class="btn btn-default btn-sm">Read More <i class="fa fa-arrow-right"></i></a>
          </div> <!-- .box-body -->
        </div> <!-- .box-img -->
      </div>
    </div> <!-- .row -->
  </div> <!-- .container -->
</section>

<section class="site-content bg-transparent-dark" style="background-image: url( '../img/quadstudents03_1920.jpg' );">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>The Culverhouse Leadership Diversity Competition </h2>
        <p class="lead font-weight-500">The competition is open to a select number of undergraduate institutions. This is a great opportunity to show off your talent for creating business solutions. Teams will enhance their academic experience by analyzing a business case and then presenting their recommendations to corporate executives who serve as a panel of judges. The top three teams receive cash awards.</p>
        <a href="http://culverhouse.ua.edu/cldc" target="_blank" class="btn btn-default btn-sm">
          Read More
          <i class="fa fa-arrow-right"></i>
        </a>
      </div> <!-- .col-md-6 -->

      <div class="col-md-6 col-sm-12 padding-top-25">
        <div class="embed-responsive embed-responsive-16by9">

          <iframe src="https://player.vimeo.com/video/191039780" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

        </div> <!-- .embed-responsive -->
      </div> <!-- .col-md-6 -->
    </div> <!-- .row -->
  </div> <!-- .container -->
</section>