<section class="site-content">
		<div class="container">
			<div class="row">
				
				<h3>Add a Building</h3>
				
				<%= render 'form' %>
				<br><br>
					<%= link_to 'Back', buildings_path %>
				
			</div>
		</div>
</section>
