<section class="site-content">
  <div class="container">
    <div class="row">
<h1>New Graduate Profile</h1>

<%= render 'form' %>

<%= link_to 'Back', graduate_profiles_path %>

    </div> <!-- .container -->
  </div> <!-- .site-section-bg -->
</section>
