<div class="breadcrumb-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <h1 class="breadcrumb-page-title"><%= content_for?(:title) ? yield(:title) : "Culverhouse Alumni" %></h1>
      </div> <!-- .col-md-6 -->
      <div class="col-md-6 col-sm-6 col-xs-12">
        <ol class="breadcrumb">
          <li><%= link_to 'Alumni Home', alumni_path %></li>
          <li><%= content_for?(:title) ? yield(:title) : "Culverhouse Alumni" %></li>
        </ol>
      </div> <!-- .col-md-6 -->
    </div> <!-- .row -->
  </div> <!-- .container -->
</div> <!-- .breadcrumb-wrapper -->

<section class="site-section-top">

        <div id="ua-carousel" class="carousel carousel-home slide">
          <div class="carousel-inner">
            <div class="item active">
              <div class="bg-img bg-center-center" style="background-image: url( '/assets/img/quadaerial01_1920.jpg' );">
                <div class="caption">
                  <div class="caption-inner">
                    <a href="https://vimeo.com/104625184" target="_blank">
                      <h2>The Capstone of Higher Education</h2>
                      <p class="lead">Stimulating education, scientific advancement and economic growth</p>
                      <button class="btn btn-transparent uppercase margin-top-10">Watch Video</button>
                    </a>
                  </div> <!-- .caption-inner -->
                </div> <!-- .caption -->
              </div> <!-- .bg-img -->
            </div> <!-- .item -->

            <div class="item">
              <div class="bg-img bg-center-center" style="background-image: url( '/assets/img/quadstudents03_1920.jpg' );">
                <div class="container site-content">
                  <div class="caption caption-left">
                    <div class="caption-inner">
                      <h2><a href="#">Find Your Major</a></h2>
                      <p class="lead"><a href="#">UA offers more than 80 undergraduate degree<br /> programs through its 12 colleges and schools.</a></p>
                    </div> <!-- .caption-inner -->
                  </div> <!-- .caption -->
                </div> <!-- .container -->
              </div> <!-- .bg-img -->
            </div> <!-- .item -->

            <div class="item">
              <div class="bg-img bg-center-center" style="background-image: url( '/assets/img/commencement01_1920.jpg' );">
                <div class="container site-content">
                  <div class="caption">
                    <div class="caption-inner">
                      <h2><a href="#">2015 Winter Commencement</a></h2>
                      <p class="lead"><a href="#">Join us December 4th in Coleman Coliseum or view our live webcast.</a></p>
                    </div> <!-- .caption-inner -->
                  </div> <!-- .caption -->
                </div> <!-- .container -->
              </div> <!-- .bg-img -->
            </div> <!-- .item -->

            <div class="item">
              <div class="bg-img bg-center-bottom" style="background-image: url( '/assets/img/dennychimes01_1920.jpg' );">
                <div class="container site-content">
                  <div class="caption caption-left">
                    <div class="caption-inner">
                      <h2><a href="#">By the Numbers</a></h2>
                      <p class="lead"><a href="#">Facts, figures and key things to know about UA.</a></p>
                    </div> <!-- .caption-inner -->
                  </div> <!-- .caption -->
                </div> <!-- .container -->
              </div> <!-- .bg-img -->
            </div> <!-- .item -->

          </div> <!-- .carousel-inner -->

          <a class="left carousel-control" href="#ua-carousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>

          <a class="right carousel-control" href="#ua-carousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </div> <!-- #ua-carousel -->
</section>

<section class="site-content bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <div id="map-2" class="map"></div>

      </div> <!-- .col-md-12 -->
    </div> <!-- .row -->
  </div> <!-- .container -->
</section>

<section class="site-content bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 id="item-3">Section 3 Page Header</h1>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

          <div class="pull-right padding-left-20">
            <img src="/assets/img/bryantdenny01_800.jpg" class="img-responsive" />
          </div> <!-- .pull-right -->

          <p>Officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor sit amet, mollitia animi, id est laborum et dolorum fug consectetur adipiscing elit. Ut non libero consectetur adipiscing elit magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat. Pellentesque viverra vehicula sem ut volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna. Sed et quam lacus. Fusce condimentum eleifend.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div> <!-- .col-md-12 -->
    </div> <!-- .row -->
  </div> <!-- .container -->
</section>

<section class="site-content bg-transparent-light" style="background-image: url( '/assets//img/presidentsmansion01_1920.jpg' );">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 id="item-4">Section 4 Page Header</h1>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          <p>Officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor sit amet, mollitia animi, id est laborum et dolorum fug consectetur adipiscing elit. Ut non libero consectetur adipiscing elit magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat. Pellentesque viverra vehicula sem ut volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna. Sed et quam lacus. Fusce condimentum eleifend.</p>

          <div class="row">
            <div class="col-md-3 col-sm-6">
              <div class="content-box text-center bg-light box-bordered box-clickable">
                <i class="fa fa-cog icon-bg icon-primary icon-lg circle"></i>
                <h3><a href="#">Clickable Icon Box Link 1</a></h3>
                <p>Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor sit amet.</p>
              </div> <!-- .box-bordered -->
            </div>

            <div class="col-md-3 col-sm-6">
              <div class="content-box text-center bg-light box-bordered box-clickable">
                <i class="fa fa-cog icon-bg icon-primary icon-lg circle"></i>
                <h3><a href="#">Clickable Icon Box Link 2</a></h3>
                <p>Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor sit amet.</p>
              </div> <!-- .box-bordered -->
            </div>

            <div class="col-md-3 col-sm-6">
              <div class="content-box text-center bg-light box-bordered box-clickable">
                <i class="fa fa-cog icon-bg icon-primary icon-lg circle"></i>
                <h3><a href="">Clickable Icon Box Link 3</a></h3>
                <p>Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor sit amet.</p>
              </div> <!-- .box-bordered -->
            </div>

            <div class="col-md-3 col-sm-6">
              <div class="content-box text-center bg-light box-bordered box-clickable">
                <i class="fa fa-cog icon-bg icon-primary icon-lg circle"></i>
                <h3><a href="">Clickable Icon Box Link 3</a></h3>
                <p>Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor sit amet.</p>
              </div> <!-- .box-bordered -->
            </div>

          </div> <!-- .row -->

      </div> <!-- .col-md-12 -->
    </div> <!-- .row -->
  </div> <!-- .container -->
</section>

<section class="site-content bg-alt">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 id="item-5">Section 5 Page Header</h1>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          <p>Officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor sit amet, mollitia animi, id est laborum et dolorum fug consectetur adipiscing elit. Ut non libero consectetur adipiscing elit magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat. Pellentesque viverra vehicula sem ut volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna. Sed et quam lacus. Fusce condimentum eleifend.</p>

          <div class="row">
            <div class="col-md-6 col-sm-6">
              <div class="list-group">
                <a class="list-group-item" href="#"><i class="fa fa-cog fa-lg fa-fw margin-right-10"></i>Topic Link 1</a>
                <a class="list-group-item" href="#"><i class="fa fa-cog fa-lg fa-fw margin-right-10"></i>Topic Link 2</a>
                <a class="list-group-item" href="#"><i class="fa fa-cog fa-lg fa-fw margin-right-10"></i>Topic Link 3</a>
                <a class="list-group-item" href="#"><i class="fa fa-cog fa-lg fa-fw margin-right-10"></i>Topic Link 4</a>
              </div> <!-- .list-group -->
            </div> <!-- .col-md-6 -->
            <div class="col-md-6 col-sm-6">
              <div class="list-group">
                <a class="list-group-item" href="#"><i class="fa fa-cog fa-lg fa-fw margin-right-10"></i>Topic Link 5</a>
                <a class="list-group-item" href="#"><i class="fa fa-cog fa-lg fa-fw margin-right-10"></i>Topic Link 6</a>
                <a class="list-group-item" href="#"><i class="fa fa-cog fa-lg fa-fw margin-right-10"></i>Topic Link 7</a>
                <a class="list-group-item" href="#"><i class="fa fa-cog fa-lg fa-fw margin-right-10"></i>Topic Link 8</a>
              </div> <!-- .list-group -->
            </div> <!-- .col-md-6 -->
          </div> <!-- .row -->
          <div class="row">
            <div class="col-md-12">

            </div>
          </div

      </div> <!-- .col-md-12 -->
    </div> <!-- .row -->
  </div> <!-- .container -->
</section>

<section class="site-content bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 id="item-6">Section 6 Page Header</h1>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          <p>Officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor sit amet, mollitia animi, id est laborum et dolorum fug consectetur adipiscing elit. Ut non libero consectetur adipiscing elit magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat. Pellentesque viverra vehicula sem ut volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna. Sed et quam lacus. Fusce condimentum eleifend.</p>

          <div class="row padding-top-10">
            <div class="col-md-6">
              <ul>
                <li class="h4"><a href="#" class="link-light">External Link 1</a></li>
                <li class="h4"><a href="#" class="link-light">External Link 2</a></li>
                <li class="h4"><a href="#" class="link-light">External Link 3</a></li>
                <li class="h4"><a href="#" class="link-light">External Link 4</a></li>
            </div> <!-- .col-md-6 -->
            <div class="col-md-6">
              <ul>
                <li class="h4"><a href="#" class="link-light">External Link 5</a></li>
                <li class="h4"><a href="#" class="link-light">External Link 6</a></li>
                <li class="h4"><a href="#" class="link-light">External Link 7</a></li>
                <li class="h4"><a href="#" class="link-light">External Link 8</a></li>
              </ul>
            </div> <!-- .col-md-6 -->
          </div> <!-- .row -->

      </div> <!-- .col-md-12 -->
    </div> <!-- .row -->
  </div> <!-- .container -->
</section>