<div class="breadcrumb-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <h1 class="breadcrumb-page-title">500 Error</h1>
      </div> <!-- .col-md-6 -->
      <div class="col-md-6 col-sm-6 col-xs-12">
        <ol class="breadcrumb">
          <li><a href="#">Home</a></li>
          <li>500 Error</li>
        </ol>
      </div> <!-- .col-md-6 -->
    </div> <!-- .row -->
  </div> <!-- .container -->
</div> <!-- .breadcrumb-wrapper -->

<section class="site-content">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="page-header">Internal Server Error</h1>
        <p class="lead padding-bottom-10">We're sorry, but the page you requested cannot be found. Please search using the below form or use the other navigational resources to help locate your desired destination.</p>

        <div id="test"></div>

        <div id='cse-search-form' style='width: 100%;'>Loading</div>
        <script src='//www.google.com/jsapi' type='text/javascript'></script>
        <script type='text/javascript'>
          google.load('search', '1', {language: 'en', style: google.loader.themes.MINIMALIST});
          google.setOnLoadCallback(function() {
            var customSearchOptions = {};
            var orderByOptions = {};
            orderByOptions['keys'] = [{label: 'Relevance', key: ''} , {label: 'Date', key: 'date'}];
            customSearchOptions['enableOrderBy'] = true;
            customSearchOptions['orderByOptions'] = orderByOptions;
            var customSearchControl =   new google.search.CustomSearchControl('005188995961832419191:d8onxphckuc', customSearchOptions);
            customSearchControl.setResultSetSize(google.search.Search.FILTERED_CSE_RESULTSET);
            var options = new google.search.DrawOptions();
            options.enableSearchboxOnly('/search', 'q');
            options.setAutoComplete(true);
            customSearchControl.draw('cse-search-form', options);
          }, true);
        </script>
        <style type='text/css'>
          input.gsc-input {
            border-color: #BBBBBB;
          }
          input.gsc-search-button {
            border-color: #000000;
            background-color: #333333;
          }
          .gsc-input input.gsc-input {
            background: none repeat scroll 0% 0% white !important;
          }
        </style>
        <hr>
        <div id='cse' style='width: 100%;'>Loading</div>
        <script src='//www.google.com/jsapi' type='text/javascript'></script>
        <script type='text/javascript'>
          google.load('search', '1', {language: 'en', style: google.loader.themes.MINIMALIST});
          google.setOnLoadCallback(function() {
            var customSearchOptions = {};
            var orderByOptions = {};
            orderByOptions['keys'] = [{label: 'Relevance', key: ''} , {label: 'Date', key: 'date'}];
            customSearchOptions['enableOrderBy'] = true;
            customSearchOptions['orderByOptions'] = orderByOptions;
            var customSearchControl =   new google.search.CustomSearchControl('005188995961832419191:d8onxphckuc', customSearchOptions);
            customSearchControl.setResultSetSize(google.search.Search.FILTERED_CSE_RESULTSET);
            var options = new google.search.DrawOptions();
            options.enableSearchResultsOnly();
            options.setAutoComplete(true);
            customSearchControl.draw('cse', options);
            function parseParamsFromUrl() {
              var params = {};
              var parts = window.location.search.substr(1).split('&');
              for (var i = 0; i < parts.length; i++) {
                var keyValuePair = parts[i].split('=');
                var key = decodeURIComponent(keyValuePair[0]);
                params[key] = keyValuePair[1] ?
                    decodeURIComponent(keyValuePair[1].replace(/\+/g, ' ')) :
                    keyValuePair[1];
              }
              return params;
            }
            var urlParams = parseParamsFromUrl();
            var queryParamName = 'q';
            if (urlParams[queryParamName]) {
              customSearchControl.execute(urlParams[queryParamName]);
            }
          }, true);
        </script>
        <style type='text/css'>
          .gsc-control-cse {
            font-family: Arial, sans-serif;
            border-color: #FFFFFF;
            background-color: #FFFFFF;
          }
          .gsc-control-cse .gsc-table-result {
            font-family: Arial, sans-serif;
          }
          input.gsc-input {
            border-color: #BBBBBB;
          }
          input.gsc-search-button {
            border-color: #000000;
            background-color: #333333;
          }
          .gsc-tabHeader.gsc-tabhInactive {
            border-color: #333333;
            background-color: #333333;
          }
          .gsc-tabHeader.gsc-tabhActive {
            border-color: #777777;
            background-color: #777777;
          }
          .gsc-tabsArea {
            border-color: #333333;
          }
          .gsc-webResult.gsc-result, .gsc-results .gsc-imageResult {
            border-color: #FFFFFF;
            background-color: #FFFFFF;
          }
          .gsc-webResult.gsc-result:hover, .gsc-imageResult:hover {
            border-color: #000000;
            background-color: #FFFFFF;
          }
          .gsc-webResult.gsc-result.gsc-promotion:hover {
            border-color: #000000;
            background-color: #FFFFFF;
          }
          .gs-webResult.gs-result a.gs-title:link, .gs-webResult.gs-result a.gs-title:link b, .gs-imageResult a.gs-title:link, .gs-imageResult a.gs-title:link b  {
            color: #9E1B32;
          }
          .gs-webResult.gs-result a.gs-title:visited, .gs-webResult.gs-result a.gs-title:visited b, .gs-imageResult a.gs-title:visited, .gs-imageResult a.gs-title:visited b {
            color: #9E1B32;
          }
          .gs-webResult.gs-result a.gs-title:hover, .gs-webResult.gs-result a.gs-title:hover b, .gs-imageResult a.gs-title:hover, .gs-imageResult a.gs-title:hover b {
            color: #9E1B32;
          }
          .gs-webResult.gs-result a.gs-title:active, .gs-webResult.gs-result a.gs-title:active b, .gs-imageResult a.gs-title:active, .gs-imageResult a.gs-title:active b {
            color: #9E1B32;
          }
          .gsc-cursor-page {
            color: #9E1B32;
          }
          a.gsc-trailing-more-results:link {
            color: #9E1B32;
          }
          .gs-webResult .gs-snippet, .gs-imageResult .gs-snippet, .gs-fileFormatType {
            color: #333333;
          }
          .gs-webResult div.gs-visibleUrl, .gs-imageResult div.gs-visibleUrl {
            color: #9E1B32;
          }
          .gs-webResult div.gs-visibleUrl-short {
            color: #9E1B32;
          }
          .gs-webResult div.gs-visibleUrl-short  {
            display: none;
          }
          .gs-webResult div.gs-visibleUrl-long {
            display: block;
          }
          .gs-promotion div.gs-visibleUrl-short {
            display: none;
          }
          .gs-promotion div.gs-visibleUrl-long  {
            display: block;
          }
          .gsc-cursor-box {
            border-color: #FFFFFF;
          }
          .gsc-results .gsc-cursor-box .gsc-cursor-page {
            border-color: #777777;
            background-color: #FFFFFF;
            color: #9E1B32;
          }
          .gsc-results .gsc-cursor-box .gsc-cursor-current-page {
            border-color: #333333;
            background-color: #333333;
            color: #9E1B32;
          }
          .gsc-webResult.gsc-result.gsc-promotion {
            border-color: #CCCCCC;
            background-color: #E6E6E6;
          }
          .gsc-completion-title {
            color: #9E1B32;
          }
          .gsc-completion-snippet {
            color: #333333;
          }
          .gs-promotion a.gs-title:link,.gs-promotion a.gs-title:link *,.gs-promotion .gs-snippet a:link  {
            color: #0000CC;
          }
          .gs-promotion a.gs-title:visited,.gs-promotion a.gs-title:visited *,.gs-promotion .gs-snippet a:visited {
            color: #0000CC;
          }
          .gs-promotion a.gs-title:hover,.gs-promotion a.gs-title:hover *,.gs-promotion .gs-snippet a:hover  {
            color: #444444;
          }
          .gs-promotion a.gs-title:active,.gs-promotion a.gs-title:active *,.gs-promotion .gs-snippet a:active {
            color: #00CC00;
          }
          .gs-promotion .gs-snippet, .gs-promotion .gs-title .gs-promotion-title-right, .gs-promotion .gs-title .gs-promotion-title-right * {
            color: #333333;
          }
          .gs-promotion .gs-visibleUrl,.gs-promotion .gs-visibleUrl-short  {
            color: #00CC00;
          }
          .gsc-input input.gsc-input {
            background: none repeat scroll 0% 0% white !important;
          }
        </style>

      </div> <!-- .col-md-12 -->
    </div> <!-- .row -->
  </div> <!-- .container -->
</section>

