<p id="notice"><%= notice %></p>

<p>
  <strong>Option:</strong>
  <%= @background_option.option %>
</p>

<%= link_to 'Edit', edit_background_option_path(@background_option) %> |
<%= link_to 'Back', background_options_path %>
