<section class="site-content">
		<div class="container">
			<div class="row">
				<div class="col-md-9">

					<h1 class="page-header">Edit Department Types</h1>
					From Departments to Annual Events, this is where each type of organization is created.
					
					<%= render 'form' %>
					
					<%= link_to 'Show', @unit_type %> |
					<%= link_to 'Back', unit_types_path %>

				</div> <!-- .col-md-3 -->
			</div> <!-- .row -->
		</div> <!-- .container -->
</section>