<section class="site-content">
		<div class="container">
			<div class="row">
				<div class="col-md-9">

				<h1>New Department Type</h1>
				
				<%= render 'form' %>
				
				<%= link_to 'Back', unit_types_path %>

				</div> <!-- .col-md-3 -->
			</div> <!-- .row -->
		</div> <!-- .container -->
</section>