<section class="site-section-top">
  <div class="bg-img" style="background-image: url('/assets/img/presidentsmansion01_1920.jpg');">
    <div class="container site-content">
      <div class="site-heading-bg-primary">
        <h1>Manderson Launch</h1>
      </div> <!-- .site-heading-bg -->
    </div> <!-- .container -->
  </div> <!-- .site-section-bg -->
</section>

      <section class="site-content">
        <div class="container">
          <div class="row">
            <div class="col-md-3">
              <div class="sidebar sidebar-sticky affix-top scroll-to hidden-xs hidden-sm">
                <ul class="nav nav-pills nav-stacked">
                  <li class="active"><a href="#item-1">Welcome</a></li>
                  <li><a href="#item-2">New Students</a></li>
                  <li><a href="#item-3">Administration</a></li>
                  <li><a href="#item-4">Corporate Partners</a></li>
                  <li><a href="/launch/students">View Student Profiles</a></li>
                </ul>

              </div> <!-- .sidebar -->
            </div> <!-- .col-md-3 -->

            <div class="col-md-9">
              <h2 id="item-1" class="page-header">Welcome to Manderson Launch</h1>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <p>Officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor sit amet, mollitia animi, id est laborum et dolorum fug consectetur adipiscing elit. Ut non libero consectetur adipiscing elit magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat. Pellentesque viverra vehicula sem ut volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna. Sed et quam lacus. Fusce condimentum eleifend.</p>

                <div class="row">
                  <div class="col-md-4 col-sm-6">
                    <div class="content-box box-img bg-light text-center">
                      <img class="img-responsive" src="/assets/img/bryantdenny01_800.jpg">
                      <div class="box-body">
                        <h3><a href="#">Image Box 1</a></h3>
                        <p>Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor sit amet.</p>
                        <a href="#" class="btn btn-default btn-sm">Read More <i class="fa fa-arrow-right"></i></a>
                      </div> <!-- .box-body -->
                    </div> <!-- .box-img -->
                  </div> <!-- .col-md-3 -->

                  <div class="col-md-4 col-sm-6">
                    <div class="content-box box-img bg-light text-center">
                      <img class="img-responsive" src="/assets/img/gorgaslibrary01_800.jpg">
                      <div class="box-body">
                        <h3><a href="#">Image Box 2</a></h3>
                        <p>Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor sit amet.</p>
                        <a href="#" class="btn btn-default btn-sm">Read More <i class="fa fa-arrow-right"></i></a>
                      </div> <!-- .box-body -->
                    </div> <!-- .box-img -->
                  </div> <!-- .col-md-4 -->

                  <div class="col-md-4 col-sm-6">
                    <div class="content-box box-img bg-light text-center">
                      <img class="img-responsive" src="/assets/img/librarystudent01_800.jpg">
                      <div class="box-body">
                        <h3><a href="#">Image Box 3</a></h3>
                        <p>Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor sit amet.</p>
                        <a href="#" class="btn btn-default btn-sm">Read More <i class="fa fa-arrow-right"></i></a>
                      </div> <!-- .box-body -->
                    </div> <!-- .box-img -->
                  </div> <!-- .col-md-4 -->
                </div> <!-- .row -->

                <h2 id="item-2" class="page-header">Registration</h1>
                  <p class="lead">New Students, <a href="http://mybama.ua.edu" target="_blank"> Click Here to Register</a></p>
                  <p>Officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor sit amet, mollitia animi, id est laborum et dolorum fug consectetur adipiscing elit. Ut non libero consectetur adipiscing elit magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat. Pellentesque viverra vehicula sem ut volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna. Sed et quam lacus. Fusce condimentum eleifend.</p>

                  <div class="row">
                    <div class="col-md-4 col-sm-6">
                      <div class="content-box text-center bg-light box-bordered box-clickable">
                        <i class="fa fa-cog icon-bg icon-primary icon-lg circle"></i>
                        <h3><a href="#">Clickable Icon Box Link 1</a></h3>
                        <p>Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor sit amet.</p>
                      </div> <!-- .box-bordered -->
                    </div>

                    <div class="col-md-4 col-sm-6">
                      <div class="content-box text-center bg-light box-bordered box-clickable">
                        <i class="fa fa-cog icon-bg icon-primary icon-lg circle"></i>
                        <h3><a href="#">Clickable Icon Box Link 2</a></h3>
                        <p>Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor sit amet.</p>
                      </div> <!-- .box-bordered -->
                    </div>

                    <div class="col-md-4 col-sm-6">
                      <div class="content-box text-center bg-light box-bordered box-clickable">
                        <i class="fa fa-cog icon-bg icon-primary icon-lg circle"></i>
                        <h3><a href="">Clickable Icon Box Link 3</a></h3>
                        <p>Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor sit amet.</p>
                      </div> <!-- .box-bordered -->
                    </div>
                  </div> <!-- .row -->

                  <h2 id="item-3" class="page-header">Administration</h1>
                    <p class="lead"><p>Administrators, <a href="/graduate_profiles">Click Here</a></p></p>
                    <p>Officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor sit amet, mollitia animi, id est laborum et dolorum fug consectetur adipiscing elit. Ut non libero consectetur adipiscing elit magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat. Pellentesque viverra vehicula sem ut volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna. Sed et quam lacus. Fusce condimentum eleifend.</p>

                    <div class="row">
                      <div class="col-md-6 col-sm-6">
                        <div class="list-group">
                          <a class="list-group-item" href="#"><i class="fa fa-cog fa-lg fa-fw margin-right-10"></i>Topic Link 1</a>
                          <a class="list-group-item" href="#"><i class="fa fa-cog fa-lg fa-fw margin-right-10"></i>Topic Link 2</a>
                          <a class="list-group-item" href="#"><i class="fa fa-cog fa-lg fa-fw margin-right-10"></i>Topic Link 3</a>
                          <a class="list-group-item" href="#"><i class="fa fa-cog fa-lg fa-fw margin-right-10"></i>Topic Link 4</a>
                        </div> <!-- .list-group -->
                      </div> <!-- .col-md-6 -->
                      <div class="col-md-6 col-sm-6">
                        <div class="list-group">
                          <a class="list-group-item" href="#"><i class="fa fa-cog fa-lg fa-fw margin-right-10"></i>Topic Link 5</a>
                          <a class="list-group-item" href="#"><i class="fa fa-cog fa-lg fa-fw margin-right-10"></i>Topic Link 6</a>
                          <a class="list-group-item" href="#"><i class="fa fa-cog fa-lg fa-fw margin-right-10"></i>Topic Link 7</a>
                          <a class="list-group-item" href="#"><i class="fa fa-cog fa-lg fa-fw margin-right-10"></i>Topic Link 8</a>
                        </div> <!-- .list-group -->
                      </div> <!-- .col-md-6 -->
                    </div> <!-- .row -->

                    <h2 id="item-4" class="page-header">Corporate Partners</h1>
                      <p><a href="#">Click Here to Register as a Corporate Partner</a></p>
                      <p><a href="#">Corporate Partner Login</a></p>

                      <div class="content-box box-img bg-light margin-bottom-40">
                        <div class="row no-gutter">
                          <div class="col-md-6">
                            <img class="img-responsive" src="/assets/img/presidentsmansion01_800.jpg" />
                          </div> <!-- .col-md-6 -->
                          <div class="col-md-6">
                            <div class="box-body">
                              <h3 class="margin-top-10">Image Box Example</h3>
                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                              <a href="#" class="btn btn-default btn-sm">
                                Read More
                                <i class="fa fa-arrow-right"></i>
                              </a>
                            </div> <!-- .box-body -->
                          </div> <!-- .col-md-6 -->
                        </div> <!-- .row -->
                      </div>

                      <h2 id="item-5" class="page-header">Section 5 Page Header</h1>
                        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        <div class="pull-right padding-left-20">
                          <img src="/assets/img/bryantdenny01_400.jpg" class="img-responsive" />
                        </div>
                        <p>Officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor sit amet, mollitia animi, id est laborum et dolorum fug consectetur adipiscing elit. Ut non libero consectetur adipiscing elit magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat. Pellentesque viverra vehicula sem ut volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna. Sed et quam lacus. Fusce condimentum eleifend.</p>
                        <p>Fusce condimentum eleifend enim a feugiat. Pellentesque viverra vehicula sem ut volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna. Sed et quam lacus. Fusce condimentum</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

            </div> <!-- .col-md-9 -->
          </div> <!-- .row -->
        </div> <!-- .container -->
      </section>