<ul class="nav navbar-nav main-nav">
  <li class="visible-xs visible-sm">
    <a href="#" class="nav-toggle text-center">
      <i class="fa fa-times"></i>
    </a>
  </li>

  <li class="dropdown mega-menu">
    <a href="http://manderson.culverhouse.ua.edu" target="_blank" data-toggle="dropdown" class="dropdown-toggle">
      Manderson Graduate School of Business
    </a>

    <ul class="dropdown-menu">
      <li>
        <div class="mega-menu-content">
          <div class="row">
            <div class="col-md-12">
              <ul class="list-unstyled">
                <li><%= link_to 'Student Directory', launch_directory_path %></li>
                <!-- <li><a href="/launch/partners">Corporate Partners</a></li> -->
              </ul>
            </div> <!-- .col-md-3 -->
          </div> <!-- .row -->
        </div> <!-- .mega-menu-content -->
      </li>
    </ul>
  </li>
</ul>