			<div id="sticky-header" class="header-main header-primary navbar mega-menu" data-spy="affix" data-offset-top="50">
				<div class="container">
					<div class="navbar-container">
						<div class="navbar-header">
							<%= link_to 'http://www.culverhouse.ua.edu', target: '_blank', class: 'navbar-brand ua-logo ua-logo-college-cba', title: 'The University of Alabama', rel: 'home' do %>
							  <%= image_tag('ua-square-logo.png', class: 'ua-square-logo pull-left img-responsive', size: '65x65', alt: 'The University of Alabama') %>
							  <span class="sr-only">The University of Alabama</span>
							<% end %>

							<a href="#" class="btn btn-default nav-toggle visible-xs visible-sm">
								<span class="sr-only">Toggle navigation</span>
		                        <i class="fa fa-bars"></i>
		                    </a>
						</div> <!-- .navbar-header -->

						<nav class="navbar-right">
              <%= render 'layouts/launchnavlinks' %>
						</nav>
					</div> <!-- .navbar-container -->
				</div> <!-- .container -->
			</div> <!-- .header-main -->
		</div> <!-- .sticky-header-container -->