<section class="site-content">
  <div class="container">
    <div class="row">
      <p id="notice"><%= notice %></p>

      <h1>Edit Alumni Events</h1>

      <%= render 'form' %>

      <%= link_to 'Show', @alumni_event %> |
      <%= link_to 'Back', alumni_events_path %>


    </div> <!-- .col-md-3 -->
  </div> <!-- .row -->
</section> <!-- .container -->