<section class="site-section-top">
		<div class="bg-img" style="background-image: url('../img/presidentsmansion01_1920.jpg');">
			<div class="container site-content">
				<div class="site-heading-bg-primary">
					<h1>Secondary Page</h1>
				</div> <!-- .site-heading-bg -->
			</div> <!-- .container -->
		</div> <!-- .site-section-bg -->
</section>

<section class="site-content">
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<div class="sidebar sidebar-sticky affix-top scroll-to hidden-xs hidden-sm">
						<ul class="nav nav-pills nav-stacked">
							<li class="active"><a href="#item-1">Overview</a></li>
							<li><a href="#item-2">Section 2</a></li>
							<li><a href="#item-3">Section 3</a></li>
							<li><a href="#item-4">Section 4</a></li>
							<li><a href="#item-5">Section 5</a></li>
						</ul>
						<a href="#" class="btn btn-crimson btn-featured-left btn-block font-weight-600 uppercase margin-top-30">Call To Action 1<i class="fa fa-cog"></i></a>
						<a href="#" class="btn btn-light btn-featured-left btn-block font-weight-600 uppercase margin-top-10">Call To Action 2<i class="fa fa-cog"></i></a>
					</div> <!-- .sidebar -->
				</div> <!-- .col-md-3 -->

				<div class="col-md-9">
					<h2 id="item-1" class="page-header">Overview</h1>
					<p><%= @unit.overview %></p>

				
			</div>           
		</div>
</section>