<ul class="nav navbar-nav main-nav">
  <li class="visible-xs visible-sm">
    <a href="#" class="nav-toggle text-center">
      <i class="fa fa-times"></i>
    </a>
  </li>

  <li class="dropdown mega-menu">
    <a href="/about/" data-toggle="dropdown" class="dropdown-toggle">
      About
    </a>

    <ul class="dropdown-menu">
      <li>
        <div class="mega-menu-content">
          <div class="row">
            <div class="col-md-6">
              <ul class="list-unstyled">
	            <li><a href="/about/mission">Mission & Vision</a></li>
	            <li><a href="/about/strategic-plan">Strategic Plan</a></li>
              <li><a href="/about/fast-facts">Fast Facts</a></li>
              <li><%= link_to "Points of Pride", "/about/points-of-pride" %></li>
              </ul>
            </div> <!-- .col-md-3 -->

            <div class="col-md-6">
              <ul class="list-unstyled">
                <li><a href="/about/history">History</a></li>
                <li><a href="/about/campus">Campus</a></li>
                <li><a href="/about/dean-palan">Dean Palan</a></li>
                <li><a href="/about/accreditation">Accreditation</a></li>
                <li><%= link_to "Ethics", "/about/ethics" %></li>
                
                <!-- Recommended by Edith -->
                
              </ul>
            </div>

          </div> <!-- .row -->
        </div> <!-- .mega-menu-content -->
      </li>
    </ul>
  </li>
  <li class="dropdown mega-menu">
    <a href="/academics" data-toggle="dropdown" class="dropdown-toggle">
      Academics
    </a>

    <ul class="dropdown-menu">
      <li>
        <div class="mega-menu-content">
          <div class="row">
            <div class="col-md-12">
              <ul class="list-unstyled">
                <li><b>Departments</b></li>


                <li class="dropdown-submenu">
                  <a tabindex="0" href="/academics/departments/accountancy">Accountancy</a>
              <!-- dropdown start -->
                  <ul class="dropdown-menu">
                    <li>
                      <a tabindex="0" href="/academics/departments/accountancy#item-1">Majors</a>
                    </li>
                    <li>
                      <a tabindex="0" href="/academics/departments/accountancy#item-2">Specializations</a>
                    </li>
                    <li>
                      <a tabindex="0" href="/academics/departments/accountancy#item-3">Graduate Programs</a>
                    </li>
                    <li>
                      <a tabindex="0" href="/academics/departments/accountancy#item-4">Contacts</a>
                    </li>
                  </ul>
                </li>
              <!-- dropdown end -->

                <li class="dropdown-submenu">
                  <a href="/academics/departments/economics-finance-legal-studies">Economics, Finance, & Legal Studies</a>
                  <!-- dropdown start -->
                  <ul class="dropdown-menu">
                    <li>
                      <a tabindex="0" href="/academics/departments/economics-finance-legal-studies#item-1">Majors</a>
                    </li>
                    <li>
                      <a tabindex="0" href="/academics/departments/economics-finance-legal-studies#item-2">Specializations</a>
                    </li>
                    <li>
                      <a tabindex="0" href="/academics/departments/economics-finance-legal-studies#item-3">Graduate Programs</a>
                    </li>
                    <li>
                      <a tabindex="0" href="/academics/departments/economics-finance-legal-studies#item-4">Contacts</a>
                    </li>
                  </ul>
                </li>
                <!-- dropdown end -->

                <li class="dropdown-submenu">
                  <a href="/academics/departments/information-systems-statistics-and-management-science">Information Systems, Statistics and Management Science</a>
                  <!-- dropdown start -->
                  <ul class="dropdown-menu">
                    <li>
                      <a tabindex="0" href="/academics/departments/information-systems-statistics-and-management-science#item-1">Majors</a>
                    </li>
                    <li>
                      <a tabindex="0" href="/academics/departments/information-systems-statistics-and-management-science#item-2">Specializations</a>
                    </li>
                    <li>
                      <a tabindex="0" href="/academics/departments/information-systems-statistics-and-management-science#item-3">Graduate Programs</a>
                    </li>
                    <li>
                      <a tabindex="0" href="/academics/departments/information-systems-statistics-and-management-science#item-4">Contacts</a>
                    </li>
                  </ul>
                </li>
                <!-- dropdown end -->

                <li class="dropdown-submenu">
                  <a href="/academics/departments/management/">Management</a>
                  <!-- dropdown start -->
                  <ul class="dropdown-menu">
                    <li>
                      <a tabindex="0" href="/academics/departments/management#item-1">Majors</a>
                    </li>
                    <li>
                      <a tabindex="0" href="/academics/departments/management#item-2">Specializations</a>
                    </li>
                    <li>
                      <a tabindex="0" href="/academics/departments/management#item-3">Graduate Programs</a>
                    </li>
                    <li>
                      <a tabindex="0" href="/academics/departments/management#item-4">Contacts</a>
                    </li>
                  </ul>
                </li>
                <!-- dropdown end -->

                <li class="dropdown-submenu">
                  <a href="/academics/departments/marketing/">Marketing</a>
                  <!-- dropdown start -->
                  <ul class="dropdown-menu">
                    <li>
                      <a tabindex="0" href="/academics/departments/marketing#item-1">Majors</a>
                    </li>
                    <li>
                      <a tabindex="0" href="/academics/departments/marketing#item-2">Specializations</a>
                    </li>
                    <li>
                      <a tabindex="0" href="/academics/departments/marketing#item-3">Graduate Programs</a>
                    </li>
                    <li>
                      <a tabindex="0" href="/academics/departments/marketing#item-4">Contacts</a>
                    </li>
                  </ul>
                </li>
                <!-- dropdown end -->
              </ul>
            </div> <!-- .col-md-4 -->
          </div> <!-- .row -->
        </div> <!-- .mega-menu-content -->
      </li>
    </ul>
  </li>
  <li class="dropdown mega-menu-full">
    <a href="/graduate-programs" data-toggle="dropdown" class="dropdown-toggle">
      Graduate Programs
    </a>

    <ul class="dropdown-menu">
      <li>
        <div class="mega-menu-content">
          <div class="row">
	        <div class="col-md-3">
              <ul class="list-unstyled">
	            <li><b>MBA Programs</b></li>
                <li><a href="/graduate-programs/emba">EMBA</a></li>
                <li><a href="/graduate-programs/mba">MBA</a></li>
                <li><a href="/graduate-programs/stemmba">STEM Path to the MBA</a></li>
                <li><a href="/graduate-programs/createmba">CREATE Path to the MBA</a></li>
              </ul>
            </div> <!-- .col-md-3 -->  
	          
            <div class="col-md-3">
              <ul class="list-unstyled">
                <li><b>Masters</b></li>
                <li><a href="/graduate-programs/master-of-science-in-applied-statistics">Master of Science in Applied Statistics</a></li>
                <li><a href="/graduate-programs/master-of-tax-accounting">Master of Tax Accounting</a></li>
                <li><a href="/graduate-programs/master-of-accountancy">Master of Accountancy</a></li>
                <li><a href="/graduate-programs/master-of-arts-in-economics">Master of Arts in Economics</a></li>
                <li><a href="/graduate-programs/master-of-science-in-finance">Master of Science in Finance</a></li>
                <li><a href="/graduate-programs/master-of-science-in-marketing">Master of Science in Marketing</a></li>
                <li><a href="/graduate-programs/master-of-science-in-operations-management">Master of Science in Operations Management</a></li>
              </ul>
            </div> <!-- .col-md-3 -->

            <div class="col-md-3">
              <ul class="list-unstyled">
                <li><b>Online Masters</b></li>
                <li><a href="/graduate-programs/online-master-of-arts-in-management">Master of Arts in Management</a></li>
                <li><a href="/graduate-programs/online-masters-of-science-in-operations-management">Masters of Science in Operations Management</a></li>
                <li><a href="/graduate-programs/online-master-of-science-in-marketing-with-analytics-specialization">Master of Science in Marketing with Analytics Specialization</a></li>
              </ul>
            </div> <!-- .col-md-3 -->

            <div class="col-md-3">
              <ul class="list-unstyled">
                <li><b>PhD</b></li>
                <li><a href="/graduate-programs/phd-finance">Finance</a></li>
                <li><a href="/graduate-programs/phd-economics">Economics</a></li>
                <li><a href="/graduate-programs/phd-accounting">Accounting</a></li>
                <li><a href="/graduate-programs/phd-applied-statistics">Applied Statistics</a></li>
                <li><a href="/graduate-programs/phd-marketing">Marketing</a></li>
                <li><a href="/graduate-programs/phd-management">Management</a></li>
                <li><a href="/graduate-programs/phd-operations-management">Operations Management</a></li>
              </ul>
            </div> <!-- .col-md-3 -->
          </div> <!-- .row -->
        </div> <!-- .mega-menu-content -->
      </li>
    </ul>
  </li>
  <li class="dropdown mega-menu">
    <a aria-expanded="false" href="/news/" data-toggle="dropdown" class="dropdown-toggle">
      News
    </a>

    <ul class="dropdown-menu">
      <li>
        <div class="mega-menu-content">
          <div class="row">
            <div class="col-md-12">
              <ul class="list-unstyled">
                <li><a href="/events">Events</a></li>
              </ul>
            </div> <!-- .col-md-12 -->
          </div> <!-- .row -->
        </div> <!-- .mega-menu-content -->
      </li>
    </ul>
  </li>
  <li class="dropdown mega-menu">
    <a href="/students/" data-toggle="dropdown" class="dropdown-toggle">
      Students
    </a>

    <ul class="dropdown-menu">
      <li>
        <div class="mega-menu-content">
          <div class="row">
            <div class="col-md-6">
              <ul class="list-unstyled">
                <li><a href="/students/scholarships">Scholarships</a></li>
                <li><a href="/students#item-1">Career Center</a></li>
                <li><a href="/students#item-2">Advising</a></li>
                <li><a href="/students/get-involved">Get Involved</a></li>
              </ul>
            </div> <!-- .col-md-6 -->

            <div class="col-md-6">
              <ul class="list-unstyled">
                <li><a href="/students#item-4">Transfers</a></li>
                <li><a href="/students#item-5">Graduation</a></li>
                <li><a href="/students#item-6">Education Abroad</a></li>
                <li><a href="/students/technology">Technology</a></li>
              </ul>
            </div> <!-- .col-md-6 -->
          </div> <!-- .row -->
        </div> <!-- .mega-menu-content -->
      </li>
    </ul>
  </li>
  <li class="dropdown mega-menu-full">
    <a href="/research-and-outreach-centers" data-toggle="dropdown" class="dropdown-toggle">
      Research & Outreach
    </a>

    <ul class="dropdown-menu">
      <li>
        <div class="mega-menu-content">
          <div class="row">
            <div class="col-md-6">
              <ul class="list-unstyled">
                <li><a href="http://acre.cba.ua.edu" target="_blank">Alabama Center for Real Estate</a></li>
                <li><a href="http://aciir.culverhouse.ua.edu" target="_blank">Alabama Center for Insurance Information and Research</a></li>
                <li><a href="https://culverhouse.ua.edu/aei" target="_blank">Alabama Entrepreneurship Institute</a></li>

                <!-- <li><a href="https://culverhouse.ua.edu/analyticslab/" target="_blank">Business Analytics Lab</a></li>  -->
              </ul>
            </div> <!-- .col-md-6 -->

            <div class="col-md-6">
              <ul class="list-unstyled">
                <li><a href="http://apc.ua.edu/" target="_blank">Alabama Productivity Center</a></li>
                <li><a href="http://cber.cba.ua.edu" target="_blank">Center for Business and Economic Research</a></li>
                <li><a href="https://culverhouse.ua.edu/hri">The Human Resources Institute</a></li>
                <!-- <li><a href="https://culverhouse.ua.edu/lift">Culverhouse LIFT</a></li> -->
                <!-- <li><a href="">The Edge</a></li> -->
                <!-- <li><a href="https://culverhouse.ua.edu/srcl" target="_blank">Statistics Research and Consulting Laboratory</a></li> -->
              </ul>
            </div> <!-- .col-md-6 -->
          </div> <!-- .row -->
        </div> <!-- .mega-menu-content -->
      </li>
    </ul>
  </li>
</ul>